node-red/.flows.json.backup
[{"id":"b25afe5510f31815","type":"tab","label":"esphome","disabled":false,"info":"","env":[]},{"id":"14b58da5.cd12e2","type":"tab","label":"esphome ota update","disabled":false,"info":""},{"id":"2de254bde65ce4db","type":"tab","label":"Termostats","disabled":false,"info":"","env":[]},{"id":"20dd25b.60e48da","type":"tab","label":"homeassistant","disabled":false,"info":""},{"id":"b940d21c.1fff3","type":"tab","label":"IKEA","disabled":false,"info":""},{"id":"697c7bbd8528b696","type":"tab","label":"Sensor PIR","disabled":false,"info":""},{"id":"5f379bc93ab340f4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"97561555.3ea248","type":"subflow","name":"logsHistory","info":"","category":"","in":[{"x":20,"y":60,"wires":[{"id":"a558a30245001ad1"}]}],"out":[{"x":980,"y":320,"wires":[{"id":"3a897ac55cd126e8","port":0}]}],"env":[{"name":"name","type":"str","value":"","ui":{"type":"input","opts":{"types":["str"]}}},{"name":"header","type":"json","value":"","ui":{"label":{"en-US":"Payload Start Organize"},"type":"input","opts":{"types":["json"]}}}],"meta":{},"color":"#DDAA99"},{"id":"67f9a36c.f4a1fc","type":"subflow","name":"Dimmer Settings","info":"","category":"","in":[{"x":400,"y":80,"wires":[{"id":"67fe2056.d8cd7"}]}],"out":[],"env":[{"name":"Step","type":"num","value":"30"}],"color":"#3FADB5","icon":"node-red/cog.svg"},{"id":"b570ad91.2fbcb","type":"subflow","name":"lamps","info":"","category":"","in":[{"x":100,"y":240,"wires":[{"id":"9bbd8a0b190975ed"}]}],"out":[{"x":200,"y":360,"wires":[{"id":"b570ad91.2fbcb","port":0}]}],"env":[],"meta":{},"color":"#DDAA99","icon":"node-red/light.svg"},{"id":"c69d3bbce968610c","type":"subflow","name":"temperature","info":"","category":"","in":[{"x":540,"y":660,"wires":[{"id":"58b6fc276956b4e5"}]}],"out":[{"x":1220,"y":480,"wires":[{"id":"60c02228d4515496","port":0},{"id":"460f30ec3015b6be","port":0},{"id":"8f7ce0fa029fe826","port":1}]}],"env":[{"name":"name","type":"num","value":""},{"name":"mqttTopic_heater","type":"str","value":"esphome/bedroom/light/snake_thermalheatingpad"},{"name":"mqttTopic_sensor","type":"str","value":"esphome/bedroom/sensor/snakeheaterpad_temperature"},{"name":"day","type":"num","value":"30"},{"name":"night","type":"num","value":"20"},{"name":"mqttTopic_reboot","type":"str","value":"esphome/bedroom/switch/bedroom_restart"}],"meta":{},"color":"#3FADB5","icon":"node-red/cog.svg"},{"id":"63ef1ec85b3d52fb","type":"subflow","name":"whatapp","info":"","category":"","in":[{"x":500,"y":260,"wires":[{"id":"3212a48c03030ffb"}]}],"out":[],"env":[{"name":"gsm","type":"str","value":"+351934272501"},{"name":"mensage","type":"str","value":""}],"meta":{},"color":"#DDAA99"},{"id":"225328c7.4e9ce8","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"7780c62b.7cb898","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"Light","name":"Light","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"f181a11d.afdf1","type":"telegram bot","botname":"Home Assistant","usernames":"","chatids":"5135907698","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"8a73c67b.2b7f08","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4cbeb8f1.4c34c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8541499.96efe8","type":"ui_group","name":"Default","tab":"8a73c67b.2b7f08","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9f5cae2.ae6b18","type":"server","name":"Home Assistant","version":5,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"c0689660.4e98c8","type":"ui_group","name":"Camera Login","tab":"7a3391b6.03a81","order":1,"disp":true,"width":"6","collapse":false},{"id":"47feb3e4.56f11c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7a3391b6.03a81","type":"ui_tab","name":"Wiki Tutorial","icon":"dashboard"},{"id":"a1888981.9a9218","type":"ui_group","name":"Audio Detection","tab":"7a3391b6.03a81","order":2,"disp":true,"width":"6","collapse":false},{"id":"e19d291d.da6018","type":"ui_group","name":"Zigbee Battery Status","tab":"71f75e8f.91051","order":1,"disp":true,"width":"20","collapse":false},{"id":"71f75e8f.91051","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"8200558ef26d215e","type":"mqtt-dynamic-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ca0557c2.d52418","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2d39df36f55d9bd2","type":"telegram bot","botname":"Home Assistant Errors","usernames":"","chatids":"5135907698","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"a6bc79a1230de941","type":"file","z":"97561555.3ea248","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":860,"y":240,"wires":[["52fba30183e88230"]]},{"id":"584f9a8d482dc054","type":"file in","z":"97561555.3ea248","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":true,"x":580,"y":140,"wires":[["d60d29e60522419b"]]},{"id":"d17012d061b44b73","type":"csv","z":"97561555.3ea248","name":"","sep":",","hdrin":false,"hdrout":"all","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":690,"y":320,"wires":[["3a897ac55cd126e8"]]},{"id":"3a897ac55cd126e8","type":"file","z":"97561555.3ea248","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":860,"y":320,"wires":[[]]},{"id":"238d1a8b0190e90c","type":"join","z":"97561555.3ea248","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":240,"wires":[["0d7938617f350e56"]]},{"id":"39377930a342cfe8","type":"json","z":"97561555.3ea248","name":"","property":"payload","action":"obj","pretty":true,"x":1010,"y":140,"wires":[["238d1a8b0190e90c"]]},{"id":"0cce69ae79370a4b","type":"function","z":"97561555.3ea248","name":"time + filename","func":"msg.filename = \"/share/\" + env.get(\"name\") + \".json\";\nmsg.payload.time = Date();\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":200,"wires":[["238d1a8b0190e90c","584f9a8d482dc054"]]},{"id":"d60d29e60522419b","type":"function","z":"97561555.3ea248","name":"Payload Start Organize","func":"if(msg.payload == \"\")\n{\n    msg.payload = [env.get(\"header\")];\n    return [null,msg];    \n}\nreturn [msg,null]; \n\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":140,"wires":[["39377930a342cfe8"],["238d1a8b0190e90c"]]},{"id":"a558a30245001ad1","type":"delay","z":"97561555.3ea248","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":60,"wires":[["b5e0ff2379352873","d9bb8c2eda106a25"]]},{"id":"0d7938617f350e56","type":"function","z":"97561555.3ea248","name":"json","func":"const [payload,json]=msg.payload;\njson.push(payload);\nmsg.payload = json;\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":240,"wires":[["a6bc79a1230de941"]]},{"id":"52fba30183e88230","type":"function","z":"97561555.3ea248","name":"directory","func":"msg.filename = \"/share/\" + env.get(\"name\") + \".csv\";\nreturn [msg];\n\n//{payload:json}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":320,"wires":[["d17012d061b44b73"]]},{"id":"3b69c4c80e2f27b5","type":"file","z":"97561555.3ea248","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":580,"y":60,"wires":[[]]},{"id":"d9bb8c2eda106a25","type":"function","z":"97561555.3ea248","name":"filename","func":"msg.payload = \"\";\nmsg.filename = \"/share/\" + env.get(\"name\") + \".json\";\n\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":60,"wires":[["3b69c4c80e2f27b5"]]},{"id":"b5e0ff2379352873","type":"delay","z":"97561555.3ea248","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":200,"wires":[["0cce69ae79370a4b"]]},{"id":"67fe2056.d8cd7","type":"function","z":"67f9a36c.f4a1fc","name":"Step","func":"var x = env.get(\"Step\"); \nflow.set(\"$parent.Step\", x);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar x = env.get(\"Step\"); \nflow.set(\"$parent.Step\", x);\n\nreturn msg;","finalize":"","libs":[],"x":510,"y":80,"wires":[[]]},{"id":"569e84e.d0ac27c","type":"switch","z":"b570ad91.2fbcb","name":"","property":"payload.lamp","propertyType":"msg","rules":[{"t":"eq","v":"lampkitchen","vt":"str"},{"t":"eq","v":"lampBedroom","vt":"str"},{"t":"eq","v":"lampLiving","vt":"str"},{"t":"eq","v":"lampAll","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":240,"wires":[["0f8df6109ea4f64e"],["d28fc28f4cada34c"],["da3923f97659c674"],["d28fc28f4cada34c","da3923f97659c674","0f8df6109ea4f64e"]]},{"id":"cc3fb62558dde7e2","type":"mqtt out","z":"b570ad91.2fbcb","name":"Light Control","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":1070,"y":240,"wires":[]},{"id":"0f8df6109ea4f64e","type":"function","z":"b570ad91.2fbcb","name":"topic \"Lamp kitchen\"","func":"msg.topic = \"zigbee2mqtt/Lamp kitchen/set\";\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["cc3fb62558dde7e2"]]},{"id":"d28fc28f4cada34c","type":"function","z":"b570ad91.2fbcb","name":"topic \"Lamp Bedroom\"","func":"msg.topic = \"zigbee2mqtt/Lamp Bedroom/set\";\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":240,"wires":[["cc3fb62558dde7e2"]]},{"id":"da3923f97659c674","type":"function","z":"b570ad91.2fbcb","name":"topic \"Lamp Living\"","func":"msg.topic = \"zigbee2mqtt/Lamp Living/set\";\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":280,"wires":[["cc3fb62558dde7e2"]]},{"id":"9bbd8a0b190975ed","type":"function","z":"b570ad91.2fbcb","name":"Payload Organize","func":"msg1= {\n    \"input\" : msg.payload.input,\n    \"lamp\" : msg.payload.name,\n    \"state\" : msg.payload.state,\n    \"brightness\" : msg.payload.brightness,\n    \"color\" : msg.payload.color,\n    \"color_temp\" : msg.payload.color_temp,\n    \"effect\" : msg.payload.effect\n    };\n\nreturn [{payload:msg1}];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":240,"wires":[["569e84e.d0ac27c"]]},{"id":"dd6bf6f41206e213","type":"mqtt in","z":"c69d3bbce968610c","name":"","topic":"","qos":"2","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":1,"x":410,"y":280,"wires":[["37aaeed07fbc564e","5a21a941d849f6b7"]]},{"id":"37aaeed07fbc564e","type":"delay","z":"c69d3bbce968610c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":570,"y":280,"wires":[["ab94ed93cc2945a5"]]},{"id":"65d16811faf3709e","type":"function","z":"c69d3bbce968610c","name":"SET atuador state","func":"flow.set(\"$parent.erroCont\" + env.get(\"name\"), 0);\nflow.set(\"$parent.sensorHold\" + env.get(\"name\"), false);\n\n\nmsg.topic = env.get(\"mqttTopic_heater\") + \"/command\";\nmsg.payload= {\n    \"state\" : flow.get(\"$parent.atuador.state\" + env.get(\"name\"))\n    };\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":260,"wires":[["4a568161ae8e7fbf"]]},{"id":"ab94ed93cc2945a5","type":"switch","z":"c69d3bbce968610c","name":"if not \"nan\"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"nan","vt":"str"},{"t":"neq","v":"","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":730,"y":280,"wires":[["b268a8ac0324a711","b0ebafd185e3dd51","65d16811faf3709e"],["0209639eafd5957b","60c02228d4515496"]]},{"id":"b268a8ac0324a711","type":"delay","z":"c69d3bbce968610c","name":"","pauseType":"delay","timeout":"28","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":960,"y":300,"wires":[["8d6a22e21075a01a"]]},{"id":"8d6a22e21075a01a","type":"function","z":"c69d3bbce968610c","name":"SET atuador state","func":"if(flow.get(\"$parent.atuador.state\" + env.get(\"name\")) == \"ON\"){\n    \n    flow.set(\"$parent.sensorHold\" + env.get(\"name\"), true);\n    msg.topic = env.get(\"mqttTopic_heater\") + \"/command\";\n    msg.payload= {\n        \"state\" : \"OFF\"\n        };\n    return [msg];\n}\nreturn;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":300,"wires":[["4a568161ae8e7fbf","76d214c7d2779ed3"]]},{"id":"4a568161ae8e7fbf","type":"mqtt out","z":"c69d3bbce968610c","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":1430,"y":480,"wires":[]},{"id":"b73382a3a8b22271","type":"bigtimer","z":"c69d3bbce968610c","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"5003","endtime":"5004","starttime2":0,"endtime2":"0","startoff":0,"endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"day","outtext2":"night","timeout":"1440","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":100,"y":40,"wires":[[],[],["0a9311056075326b"]]},{"id":"0a9311056075326b","type":"function","z":"c69d3bbce968610c","name":"timer","func":"flow.set(\"$parent.timer\" + env.get(\"name\"), msg.payload);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":40,"wires":[]},{"id":"60c02228d4515496","type":"function","z":"c69d3bbce968610c","name":"errorCont","func":"var erroCont = flow.get(\"$parent.erroCont\" + env.get(\"name\"));\nerroCont = erroCont +1;\n\nflow.set(\"$parent.erroCont\" + env.get(\"name\"), erroCont);\n\nif(erroCont >=5){\n    msg.payload =  env.get(\"name\") + \" sensor snakeheaterpad more than \" + erroCont + \" with value Nan\";\n    return  [msg];\n}\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"erroCont\", 0);","finalize":"","libs":[],"x":960,"y":340,"wires":[["8d6a22e21075a01a","8f7ce0fa029fe826"]]},{"id":"0512a5b1259c9eb7","type":"inject","z":"c69d3bbce968610c","name":"","props":[],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":280,"wires":[["c6d128ef2bb02479"]]},{"id":"c6d128ef2bb02479","type":"function","z":"c69d3bbce968610c","name":"Mqtt topic","func":"msg.action = \"subscribe\";\nmsg.topic = env.get(\"mqttTopic_sensor\") + \"/state\";\nreturn [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":280,"wires":[["dd6bf6f41206e213"]]},{"id":"b0ebafd185e3dd51","type":"function","z":"c69d3bbce968610c","name":"SET sensor","func":"flow.set(\"$parent.sensorMqtt\" + env.get(\"name\"), msg.payload);\nreturn;\n\n\n","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":220,"wires":[]},{"id":"c8e42bf4c2f53a55","type":"PID","z":"c69d3bbce968610c","name":"","setpoint":"","pb":1,"ti":9999,"td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":1,"disabled_op":0,"x":430,"y":580,"wires":[["d037c96f7fcaba63"]]},{"id":"d037c96f7fcaba63","type":"range","z":"c69d3bbce968610c","minin":"0","maxin":"1","minout":"0","maxout":"255","action":"scale","round":true,"property":"payload","name":"Scale power","x":630,"y":580,"wires":[["58b6fc276956b4e5"]]},{"id":"0620f889db301a6a","type":"inject","z":"c69d3bbce968610c","name":"","props":[],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":580,"wires":[["094fb28b3a44e51f"]]},{"id":"094fb28b3a44e51f","type":"function","z":"c69d3bbce968610c","name":"SET PID","func":"if(flow.get(\"$parent.timer\" + env.get(\"name\")) == \"day\"){\n    msg.setpoint = env.get(\"day\");\n}\nelse {\n    msg.setpoint = env.get(\"night\");\n}\nmsg.payload = flow.get(\"$parent.sensorMqtt\" + env.get(\"name\"));\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":580,"wires":[["c8e42bf4c2f53a55"]]},{"id":"58b6fc276956b4e5","type":"function","z":"c69d3bbce968610c","name":"SET atuador state","func":"if(flow.get(\"$parent.sensorHold\" + env.get(\"name\")) == true){\n    return; \n}\nvar brightness = msg.payload;\n\n\nvar state;\nif(brightness <= 0 && flow.get(\"$parent.atuador.state\" + env.get(\"name\")) == \"ON\"){\n    brightness = 0;\n     state = \"OFF\";\n}\nelse if(brightness > 0){\n    state = \"ON\";\n}\nelse {\n    return;\n}\n\n\n\n\nif(flow.get(\"$parent.atuador.brightnessMqtt\" + env.get(\"name\")) != brightness || flow.get(\"$parent.atuador.stateMqtt\" + env.get(\"name\")) != state){\n    msg.topic = env.get(\"mqttTopic_heater\") + \"/command\";\n    msg.payload= {\n        \"state\" : state,\n        \"brightness\" : brightness\n    };\n    flow.set(\"$parent.atuador.stateMqtt\" + env.get(\"name\"), state);\n    flow.set(\"$parent.atuador.brightnessMqtt\" + env.get(\"name\"), brightness);\n    flow.set(\"$parent.atuador.state\" + env.get(\"name\"), state);\n    return [msg];\n}\n\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":580,"wires":[["4a568161ae8e7fbf","74e337e75137c9f7"]]},{"id":"0209639eafd5957b","type":"debug","z":"c69d3bbce968610c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"74e337e75137c9f7","type":"function","z":"c69d3bbce968610c","name":"SET atuador brightness","func":"msg.topic = env.get(\"mqttTopic_heater\") + \"/_brightness\";\nvar brightness = msg.payload.brightness;\nmsg.payload = map_range(brightness, 0, 255, 0, env.get(\"day\") + 5);\nif(!isNaN(brightness)){\n    return [msg];\n}\nreturn;\n\n\n\n\n\n\n\nfunction map_range(value, low1, high1, low2, high2) {\n    return Number((low2 + (high2 - low2) * (value - low1) / (high1 - low1)).toFixed(2));\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":620,"wires":[["4a568161ae8e7fbf"]]},{"id":"5a21a941d849f6b7","type":"trigger","z":"c69d3bbce968610c","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":560,"y":480,"wires":[["460f30ec3015b6be","0dca5a9d33072939"]]},{"id":"460f30ec3015b6be","type":"function","z":"c69d3bbce968610c","name":"error","func":"msg.payload =  env.get(\"name\") + \" error: sensor snakeheaterpad not detected after 1min\";\nreturn  [msg];\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"erroCont\", 0);","finalize":"","libs":[],"x":710,"y":480,"wires":[[]]},{"id":"0dca5a9d33072939","type":"debug","z":"c69d3bbce968610c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":520,"wires":[]},{"id":"eb10f2c2ed95cd67","type":"mqtt in","z":"c69d3bbce968610c","name":"","topic":"","qos":"2","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":1,"x":410,"y":180,"wires":[["d79613ba6d5475a1"]]},{"id":"d79613ba6d5475a1","type":"delay","z":"c69d3bbce968610c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":570,"y":180,"wires":[["5093fcd3b7d27289"]]},{"id":"aaf96728cfe4d0a1","type":"inject","z":"c69d3bbce968610c","name":"","props":[],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":180,"wires":[["e85f40ee49fcecfa"]]},{"id":"e85f40ee49fcecfa","type":"function","z":"c69d3bbce968610c","name":"Mqtt topic","func":"msg.action = \"subscribe\";\nmsg.topic = env.get(\"mqttTopic_heater\") + \"/state\";\nreturn [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":180,"wires":[["eb10f2c2ed95cd67"]]},{"id":"5093fcd3b7d27289","type":"function","z":"c69d3bbce968610c","name":"SET atuador","func":"if(flow.get(\"$parent.sensorHold\" + env.get(\"name\")) == true){\n    return; \n}\n\nmsg.payload = JSON.parse(msg.payload);\n\nflow.set(\"$parent.atuador.stateMqtt\" + env.get(\"name\"), msg.payload.state);\nflow.set(\"$parent.atuador.brightnessMqtt\" + env.get(\"name\"), msg.payload.brightness);\nreturn;\n\n\n","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":180,"wires":[]},{"id":"8f7ce0fa029fe826","type":"function","z":"c69d3bbce968610c","name":"force reboot ","func":"var erroCont = flow.get(\"$parent.erroCont\" + env.get(\"name\"));\n\nif(erroCont >=100){\n    var msg2 = { topic: env.get(\"mqttTopic_reboot\") + \"/command\"};\n    msg2.payload= \"ON\";\n    msg.payload =  env.get(\"name\") + \" force rebbot becouse sensor snakeheaterpad more than \" + erroCont + \" with value Nan\";\n    return  [msg2,msg];\n}\n","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"erroCont\", 0);","finalize":"","libs":[],"x":1150,"y":340,"wires":[["4a568161ae8e7fbf","9c1b16d3addee9f6"],[]]},{"id":"9c1b16d3addee9f6","type":"debug","z":"c69d3bbce968610c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":660,"wires":[]},{"id":"76d214c7d2779ed3","type":"debug","z":"c69d3bbce968610c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":300,"wires":[]},{"id":"58bbc27fc43de1e8","type":"http request","z":"63ef1ec85b3d52fb","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":260,"wires":[["b23c665ea23d07c6"]]},{"id":"b23c665ea23d07c6","type":"http response","z":"63ef1ec85b3d52fb","name":"","statusCode":"","headers":{},"x":1030,"y":260,"wires":[]},{"id":"3212a48c03030ffb","type":"function","z":"63ef1ec85b3d52fb","name":"Whatsapp notification","func":"var key = \"128764\";\nvar phone = env.get(\"gsm\");\nvar url = \"https://api.callmebot.com/whatsapp.php?\";\n\n\nvar text = msg.payload;\n\nmsg.url = url + \"phone=\" + phone + \"&text=\" + text + \"&apikey=\" + key;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":260,"wires":[["58bbc27fc43de1e8"]]},{"id":"3954b843985c8949","type":"inject","z":"b25afe5510f31815","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":1630,"y":200,"wires":[["9a9e22e29fdf18b0"]]},{"id":"16c10bc8e4314730","type":"debug","z":"b25afe5510f31815","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1910,"y":200,"wires":[]},{"id":"9a9e22e29fdf18b0","type":"function","z":"b25afe5510f31815","name":"Update","func":"var sensor=\"thermalheatingpad\";\nmsg.payload = flow.get(sensor);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":200,"wires":[["16c10bc8e4314730"]]},{"id":"8a72fc6ff990c18d","type":"subflow:c69d3bbce968610c","z":"b25afe5510f31815","name":"snake","env":[{"name":"name","value":"snake","type":"str"},{"name":"min_day","value":"29.6","type":"num"},{"name":"min_night","value":"19.5","type":"num"},{"name":"s","value":"s","type":"str"},{"name":"a","value":"a","type":"str"}],"x":270,"y":240,"wires":[["cdb137f618396c56","0a305be3d9c3a899"]]},{"id":"6ce13966c531f1a3","type":"inject","z":"b25afe5510f31815","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"255","payloadType":"num","x":110,"y":240,"wires":[["8a72fc6ff990c18d"]]},{"id":"68c88e7cd54cddcf","type":"subflow:97561555.3ea248","z":"b25afe5510f31815","name":"","env":[{"name":"name","value":"snake","type":"str"}],"x":490,"y":80,"wires":[[]]},{"id":"1736bc66225893fa","type":"inject","z":"b25afe5510f31815","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":890,"y":60,"wires":[["7b754fb9bbc4ad3e"]]},{"id":"7b754fb9bbc4ad3e","type":"function","z":"b25afe5510f31815","name":"Update","func":"flow.set(\"atuador.state\" + \"snake\", \"ON\");","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1140,"y":60,"wires":[[]]},{"id":"8944bcd460c80316","type":"mqtt in","z":"b25afe5510f31815","name":"bedroom","topic":"esphome/bedroom/sensor/#","qos":"2","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":360,"wires":[["d8cbeddc22f1aa38"]]},{"id":"724b0c2170c00ab3","type":"telegram sender","z":"b25afe5510f31815","name":"aa","bot":"2d39df36f55d9bd2","haserroroutput":true,"outputs":2,"x":810,"y":400,"wires":[[],[]]},{"id":"1798bcb4be9b82bb","type":"telegram command","z":"b25afe5510f31815","name":"","command":"/echo","description":"","registercommand":false,"language":"","scope":"default","bot":"2d39df36f55d9bd2","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":810,"y":340,"wires":[["724b0c2170c00ab3","0a305be3d9c3a899"],[]]},{"id":"cdb137f618396c56","type":"function","z":"b25afe5510f31815","name":"Update","func":"var msgPayloadCoppy = msg.payload\nmsg.payload = {\n    chatId: 5135907698,\n    type: \"message\",\n    content: msgPayloadCoppy\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":400,"wires":[["724b0c2170c00ab3"]]},{"id":"d8cbeddc22f1aa38","type":"trigger","z":"b25afe5510f31815","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":360,"wires":[["7de281541fe265bd","02adcd54e0cfb741"]]},{"id":"7de281541fe265bd","type":"function","z":"b25afe5510f31815","name":"error","func":"msg.payload =  \"bedroom\" + \" error: controler not detected after 1min\";\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"erroCont\", 0);","finalize":"","libs":[],"x":450,"y":360,"wires":[["cdb137f618396c56"]]},{"id":"f731f84d78983776","type":"mqtt in","z":"b25afe5510f31815","name":"kitchen","topic":"esphome/kitchen/sensor/#","qos":"2","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":400,"wires":[["8e491e2cc4231be1"]]},{"id":"8e491e2cc4231be1","type":"trigger","z":"b25afe5510f31815","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"3","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":300,"y":400,"wires":[["cdf1617f4b60160c"]]},{"id":"cdf1617f4b60160c","type":"function","z":"b25afe5510f31815","name":"error","func":"msg.payload =  \"kitchen\" + \" error: controler not detected after 3min\";\nreturn  [msg];\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"erroCont\", 0);","finalize":"","libs":[],"x":450,"y":400,"wires":[["cdb137f618396c56"]]},{"id":"02adcd54e0cfb741","type":"debug","z":"b25afe5510f31815","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":520,"wires":[]},{"id":"0a305be3d9c3a899","type":"debug","z":"b25afe5510f31815","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":320,"wires":[]},{"id":"746433cb7f86317b","type":"function","z":"14b58da5.cd12e2","name":"Update","func":"if(msg.payload=='enter')\n{\n    msg.payload = 'off'\n}\n\nglobal.set(\"ota_update_kitchen\", msg.payload);\nglobal.set(\"ota_update_bedroom\", msg.payload);\nglobal.set(\"ota_update_mailbox\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":140,"wires":[["fd4df967eeef5720"]]},{"id":"256c9feeccf6c2c2","type":"inject","z":"14b58da5.cd12e2","name":"enter","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"enter","payloadType":"str","x":450,"y":40,"wires":[["746433cb7f86317b","fd4df967eeef5720"]]},{"id":"96105d9b6964c762","type":"inject","z":"14b58da5.cd12e2","name":"prevent","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"prevent","payloadType":"str","x":450,"y":80,"wires":[["746433cb7f86317b"]]},{"id":"0c34dbf71ac93083","type":"mqtt in","z":"14b58da5.cd12e2","name":"","topic":"esphome/#","qos":"2","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":100,"y":140,"wires":[["f9205955a4a8b56b","3388c487a97f8f4b"]]},{"id":"f9205955a4a8b56b","type":"switch","z":"14b58da5.cd12e2","name":"/status","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/status","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":280,"wires":[["658fc8ced928dc31"]]},{"id":"658fc8ced928dc31","type":"function","z":"14b58da5.cd12e2","name":"OTA Update","func":"var topic = msg.topic\ntopic = topic.replace('/status', '');\ntopic = topic.replace('esphome/', '');\nmsg.topic = 'esphome/'+topic+'/deep_sleep_mode/ota_mode'\n\nvar adrss = 'status_' + topic\nflow.set(adrss, msg.payload);\n\n\nadrss = 'ota_update_' + topic\nmsg.payload = global.get(adrss);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":280,"wires":[["cfe373109f69ea8b","9164f6408a7b9c7a"]]},{"id":"cfe373109f69ea8b","type":"mqtt out","z":"14b58da5.cd12e2","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":1130,"y":280,"wires":[]},{"id":"9164f6408a7b9c7a","type":"debug","z":"14b58da5.cd12e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"a1bbcd267723aed2","type":"switch","z":"14b58da5.cd12e2","name":"payload","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"enter","vt":"str"},{"t":"eq","v":"prevent","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":140,"wires":[["746433cb7f86317b","fd4df967eeef5720"],["746433cb7f86317b"]]},{"id":"3388c487a97f8f4b","type":"switch","z":"14b58da5.cd12e2","name":"/ota_update","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/ota_update","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":140,"wires":[["a1bbcd267723aed2"]]},{"id":"fd4df967eeef5720","type":"switch","z":"14b58da5.cd12e2","name":"fork","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":80,"wires":[["ad904275dd8af747","f12a316c96b6f6d6","eb6f6796a0d2c8a7"]]},{"id":"8e5bfcd110194fe7","type":"debug","z":"14b58da5.cd12e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":80,"wires":[]},{"id":"ad904275dd8af747","type":"function","z":"14b58da5.cd12e2","name":"kitchen","func":"var topic = \"kitchen\"\nmsg.topic = 'esphome/'+topic+'/deep_sleep_mode/ota_mode'\n\n\nvar adrss = 'status_' + topic\nvar status = flow.get(adrss);\n\nif(status == \"online\")\n{\nreturn msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":80,"wires":[["cfe373109f69ea8b","8e5bfcd110194fe7"]]},{"id":"f12a316c96b6f6d6","type":"function","z":"14b58da5.cd12e2","name":"bedroom","func":"var topic = \"bedroom\"\nmsg.topic = 'esphome/'+topic+'/deep_sleep_mode/ota_mode'\n\n\nvar adrss = 'status_' + topic\nvar status = flow.get(adrss);\n\nif(status == \"online\")\n{\nreturn msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":120,"wires":[["cfe373109f69ea8b","8e5bfcd110194fe7"]]},{"id":"eb6f6796a0d2c8a7","type":"function","z":"14b58da5.cd12e2","name":"mailbox","func":"var topic = \"mailbox\"\nmsg.topic = 'esphome/'+topic+'/deep_sleep_mode/ota_mode'\n\n\nvar adrss = 'status_' + topic\nvar status = flow.get(adrss);\n\nif(status == \"online\")\n{\nreturn msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":160,"wires":[["8e5bfcd110194fe7","cfe373109f69ea8b"]]},{"id":"7a9c3a666f3a2929","type":"mqtt in","z":"14b58da5.cd12e2","name":"","topic":"esphome/mailbox/binary_sensor/mailbox_button/state","qos":"2","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":220,"y":600,"wires":[["2e46b34ae13ced3c"]]},{"id":"6856590ca38ebc67","type":"trigger","z":"14b58da5.cd12e2","name":"Watchdog","op1":"","op2":"timeout","op1type":"nul","op2type":"str","duration":"2","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":640,"y":500,"wires":[["3ea40ab7acfc3d49"]]},{"id":"fc8c57950e6835dc","type":"function","z":"14b58da5.cd12e2","name":"mailbox","func":"var topic = \"mailbox\"\nvar adrss = 'status_' + topic\nvar status = flow.get(adrss);\n\nadrss = 'ota_update_' + topic\n\nmsg.topic = 'esphome/'+topic+'/deep_sleep_mode/ota_mode'\nmsg.payload = 'enter'\nif(global.get(adrss) == \"prevent\")\n{\n    msg.payload = 'prevent'\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":540,"wires":[["e50c53398619d007","1ffda3d6658c8b24"]]},{"id":"e50c53398619d007","type":"mqtt out","z":"14b58da5.cd12e2","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":1190,"y":620,"wires":[]},{"id":"2e46b34ae13ced3c","type":"function","z":"14b58da5.cd12e2","name":"mailbox reset","func":"var topic = \"mailbox\"\nmsg.topic = 'esphome/'+topic+'/resetState'\n\nif(msg.payload == \"ON\" || msg.payload == \"OFF\")\n{\n    flow.set('button_' + topic, msg.payload);\n    return [msg,msg];\n}\nmsg.payload = true;\nreturn [msg,null];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":620,"wires":[["e50c53398619d007","6856590ca38ebc67"],["af6a60fd26392476"]]},{"id":"1a01a2ad42da80d2","type":"mqtt in","z":"14b58da5.cd12e2","name":"","topic":"esphome/mailbox/status","qos":"2","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":130,"y":640,"wires":[["2e46b34ae13ced3c"]]},{"id":"af6a60fd26392476","type":"function","z":"14b58da5.cd12e2","name":"loop","func":"var topic = \"mailbox\"\nmsg.topic = 'esphome/'+topic+'/resetState'\nif(flow.get('button_' + topic) == \"ON\")\n{\n    var state  = flow.get('button_state_' + topic);\n    state = !state;\n    msg.payload = state;\n    \n    flow.set('button_state_' + topic, state);\n    return msg;\n}\nelse{\n   return null; \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":700,"wires":[["e50c53398619d007","fa7076429df35210"]]},{"id":"fa7076429df35210","type":"delay","z":"14b58da5.cd12e2","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":500,"y":700,"wires":[["af6a60fd26392476"]]},{"id":"b0777fe9cd1a5c4c","type":"mqtt in","z":"14b58da5.cd12e2","name":"","topic":"esphome/mailbox/reset","qos":"2","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":120,"y":780,"wires":[["47eb290a07991f3a"]]},{"id":"47eb290a07991f3a","type":"function","z":"14b58da5.cd12e2","name":"mailbox tesetDone","func":"var topic = \"mailbox\"\nmsg.topic = 'esphome/'+topic+'/resetState';\n\nif(msg.payload == \"resetDone\")\n{\n    flow.set('button_' + topic, \"OFF\");\n    msg.payload = false;\n    return [msg];\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":780,"wires":[["e50c53398619d007"]]},{"id":"3ea40ab7acfc3d49","type":"function","z":"14b58da5.cd12e2","name":"mailbox reset","func":"var topic = \"mailbox\"\nmsg.topic = 'esphome/'+topic+'/reset'\n\nmsg.payload = \"reset\";\nreturn [msg];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":500,"wires":[["e50c53398619d007","fc8c57950e6835dc"]]},{"id":"b8e77de81ac588ca","type":"telegram sender","z":"14b58da5.cd12e2","name":"aa","bot":"f181a11d.afdf1","haserroroutput":true,"outputs":2,"x":1550,"y":660,"wires":[[],[]]},{"id":"7b80cc0b3617dd32","type":"function","z":"14b58da5.cd12e2","name":"Update","func":"var msgPayloadCoppy = msg.payload\nmsg.payload = {\n    chatId: 5135907698,\n    type: \"message\",\n    content: msgPayloadCoppy\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":660,"wires":[["b8e77de81ac588ca"]]},{"id":"1ffda3d6658c8b24","type":"function","z":"14b58da5.cd12e2","name":"info","func":"var topic = \"mailbox\"\nif(flow.get('button_' + topic) == \"ON\")\n{\n    msg.payload =  \"mailBox\" + \"  You have a letter, and the mailBox is full or open\";\n}\nelse{\n    msg.payload =  \"mailBox\" + \" You have a letter\";\n}\n\n\nreturn  [msg];\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"erroCont\", 0);","finalize":"","libs":[],"x":1190,"y":660,"wires":[["7b80cc0b3617dd32"]]},{"id":"4025eae469d7e297","type":"telegram command","z":"14b58da5.cd12e2","name":"","command":"/mailbox","description":"","registercommand":false,"language":"","scope":"default","bot":"f181a11d.afdf1","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":160,"y":820,"wires":[["52147436c074e36f"],[]]},{"id":"52147436c074e36f","type":"function","z":"14b58da5.cd12e2","name":"resetDone","func":"if(msg.payload.content == \" reset\"){\n    msg.payload =  \"resetDone\";\n    return  [msg];\n}\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"erroCont\", 0);","finalize":"","libs":[],"x":330,"y":820,"wires":[["47eb290a07991f3a"]]},{"id":"d76a9d0dc1cb5659","type":"trigger-state","z":"2de254bde65ce4db","name":"","server":"225328c7.4e9ce8","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.heater","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":160,"y":240,"wires":[[],["d21566d3ea0db6fd"]]},{"id":"d21566d3ea0db6fd","type":"api-current-state","z":"2de254bde65ce4db","name":"","server":"225328c7.4e9ce8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.heater","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":160,"y":300,"wires":[["b5f2ef961e8bc777"]]},{"id":"b4a13b98351ab68b","type":"function","z":"2de254bde65ce4db","name":"Cancel Deep Sleep on Heater","func":"msg.payload = \"prevent\"\nglobal.set(\"ota_update_kitchen\", \"prevent\");\nflow.set(\"ota_update_kitchen_state\", \"heat\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":400,"wires":[["f48b135c18015315"]]},{"id":"f48b135c18015315","type":"mqtt out","z":"2de254bde65ce4db","name":"","topic":"esphome/kitchen/deep_sleep_mode/ota_mode","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":880,"y":380,"wires":[]},{"id":"9c079287cee3a790","type":"switch","z":"2de254bde65ce4db","name":"if \"off\"","property":"payload.original_state","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":360,"wires":[["d0b858334273c447"]]},{"id":"b3313aad2ce6af3e","type":"switch","z":"2de254bde65ce4db","name":"if \"heat\"","property":"payload.original_state","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":400,"wires":[["b4a13b98351ab68b"]]},{"id":"d0b858334273c447","type":"function","z":"2de254bde65ce4db","name":"Deep Sleep on Heater","func":"msg.payload = \"enter\"\nglobal.set(\"ota_update_kitchen\", \"off\");\nflow.set(\"ota_update_kitchen_state\", \"off\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[["f48b135c18015315"]]},{"id":"b5f2ef961e8bc777","type":"switch","z":"2de254bde65ce4db","name":"if \"off\"","property":"payload.original_state","propertyType":"msg","rules":[{"t":"neq","v":"ota_update_kitchen_state","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":90,"y":380,"wires":[["9c079287cee3a790","b3313aad2ce6af3e"]]},{"id":"b28198b5.7a2068","type":"switch","z":"20dd25b.60e48da","name":"subType","property":"payload.output","propertyType":"msg","rules":[{"t":"eq","v":"homeUnblock","vt":"str"},{"t":"eq","v":"homeBlock","vt":"str"},{"t":"eq","v":"homeVacations","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":600,"y":240,"wires":[[],["7913b0df.124aa"],[]]},{"id":"6a472294.4078ec","type":"subflow:b570ad91.2fbcb","z":"20dd25b.60e48da","name":"","env":[],"x":950,"y":240,"wires":[["ec7a5eb28ceeab93"]]},{"id":"7913b0df.124aa","type":"function","z":"20dd25b.60e48da","name":"All Lamps Off","func":"msg.payload.state = \"OFF\";\nmsg.payload.name = \"lampAll\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":240,"wires":[["6a472294.4078ec"]]},{"id":"11c11347f165f9b5","type":"switch","z":"20dd25b.60e48da","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/State","vt":"str"},{"t":"cont","v":"/ldrSensor","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":430,"y":320,"wires":[["b28198b5.7a2068"],["729cb56f444f5b9f"]]},{"id":"729cb56f444f5b9f","type":"function","z":"20dd25b.60e48da","name":"LDR Sensor","func":"global.set(\"ldrSensor\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":360,"wires":[["99a9863d2b8abcf8"]]},{"id":"99a9863d2b8abcf8","type":"debug","z":"20dd25b.60e48da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"ec7a5eb28ceeab93","type":"subflow:97561555.3ea248","z":"20dd25b.60e48da","name":"","env":[{"name":"name","value":"lamps","type":"str"},{"name":"header","value":"    {         \"time\": \"\",         \"input\": \"\",         \"output\": \"\",         \"name\": \"\",         \"state\": \"\",         \"brightness\": \"\",         \"color_temp\": \"\",         \"color\": \"\",         \"action\": \"\",         \"effect\": \"\",         \"linkquality\": \"\",         \"battery\": \"\",         \"update\": \"\",         \"update_available\": \"\"     }","type":"json"}],"x":1150,"y":240,"wires":[["82105863393f0d60"]]},{"id":"4cd2d9c2c523745b","type":"function","z":"20dd25b.60e48da","name":"info","func":"const data = msg.payload;\nmsg.payload ={}\nmsg.payload.input = \"homeassistant\";\nmsg.payload.output = data;\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":320,"wires":[["11c11347f165f9b5"]]},{"id":"23af5220e2651cdd","type":"mqtt in","z":"20dd25b.60e48da","name":"homeassistant Geral","topic":"homeassistant/geral/#","qos":"1","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":110,"y":320,"wires":[["4cd2d9c2c523745b"]]},{"id":"82105863393f0d60","type":"debug","z":"20dd25b.60e48da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":300,"wires":[]},{"id":"d346a4c928a51bf0","type":"subflow:97561555.3ea248","z":"20dd25b.60e48da","name":"","env":[{"name":"name","value":"lamps","type":"str"},{"name":"header","value":"    {         \"time\": \"\",         \"input\": \"\",         \"output\": \"\",         \"name\": \"\",         \"state\": \"\",         \"brightness\": \"\",         \"color_temp\": \"\",         \"color\": \"\",         \"action\": \"\",         \"effect\": \"\",         \"linkquality\": \"\",         \"battery\": \"\",         \"update\": \"\",         \"update_available\": \"\"     }","type":"json"}],"x":1170,"y":520,"wires":[["c4ca53e4704cfec1"]]},{"id":"c4ca53e4704cfec1","type":"debug","z":"20dd25b.60e48da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":560,"wires":[]},{"id":"48c0344eda529213","type":"mqtt in","z":"20dd25b.60e48da","name":"homeassistant zigbee2mqtt","topic":"zigbee2mqtt/#","qos":"1","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":140,"y":460,"wires":[["201b74e6cd34725a","73de427ed8f068f6"]]},{"id":"c74d4752de05d102","type":"switch","z":"20dd25b.60e48da","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/Lamp kitchen/set","vt":"str"},{"t":"cont","v":"/Lamp Bedroom/set","vt":"str"},{"t":"cont","v":"/Lamp Living/set","vt":"str"},{"t":"cont","v":"","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":770,"y":520,"wires":[["9009b1fc4ff77b29"],["59febb8d0e0cccf2"],["fc839a6a602d99c6"],[]]},{"id":"1c55b6ed58e546c0","type":"function","z":"20dd25b.60e48da","name":"info","func":"msg.payload.output = \"zigbee2mqtt\";\nmsg.payload.input = \"homeassistant\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":520,"wires":[["c74d4752de05d102"]]},{"id":"9009b1fc4ff77b29","type":"function","z":"20dd25b.60e48da","name":"lampkitchen","func":"msg.payload.name = \"lampkitchen\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":480,"wires":[["d346a4c928a51bf0"]]},{"id":"59febb8d0e0cccf2","type":"function","z":"20dd25b.60e48da","name":"lampBedroom","func":"msg.payload.name = \"lampBedroom\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":520,"wires":[["d346a4c928a51bf0"]]},{"id":"fc839a6a602d99c6","type":"function","z":"20dd25b.60e48da","name":"lampLiving","func":"msg.payload.name = \"lampLiving\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":560,"wires":[["d346a4c928a51bf0"]]},{"id":"73de427ed8f068f6","type":"function","z":"20dd25b.60e48da","name":"Payload Organize","func":"try{\n    msg.payload = JSON.parse(msg.payload);\n    if(msg.payload.linkquality == null && msg.payload.level == null && msg.payload.input == null)\n    {\n        return[msg];\n    }\n} catch(error){\n    \n}\n\nreturn[null];\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":520,"wires":[["1c55b6ed58e546c0","fbc47a0f64a7580e"]]},{"id":"fbc47a0f64a7580e","type":"debug","z":"20dd25b.60e48da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":620,"wires":[]},{"id":"201b74e6cd34725a","type":"debug","z":"20dd25b.60e48da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":432.8125,"y":441.8187561035156,"wires":[]},{"id":"c786b38d.959c2","type":"switch","z":"b940d21c.1fff3","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"toggle_hold","vt":"str"},{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"},{"t":"eq","v":"brightness_up_hold","vt":"str"},{"t":"eq","v":"brightness_down_hold","vt":"str"},{"t":"eq","v":"brightness_up_release","vt":"str"},{"t":"eq","v":"brightness_down_release","vt":"str"}],"checkall":"false","repair":false,"outputs":10,"x":310,"y":860,"wires":[["7a5b9d8f.6cf8d4"],["e6af827.9be108"],["348b3caf.4ad9c4"],["348b3caf.4ad9c4"],["16b3fa64.eb9956"],["16b3fa64.eb9956"],["9f44e26f.81fd1","e1f98b84.ebaba8"],["9f44e26f.81fd1","fef08c2f.c4f95"],["b8679e0a.0a6e"],["b8679e0a.0a6e"]]},{"id":"da10d307.eded8","type":"mqtt in","z":"b940d21c.1fff3","name":"IKEA Light","topic":"zigbee2mqtt/Lamp Bedroom","qos":"2","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":140,"y":180,"wires":[["8a13f8be.ca9058"]]},{"id":"4ac241f7.278ac","type":"debug","z":"b940d21c.1fff3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":180,"wires":[]},{"id":"394c130c.943f4c","type":"mqtt out","z":"b940d21c.1fff3","name":"Lamp Bedroom Status","topic":"zigbee2mqtt/Lamp Bedroom/get","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":320,"y":140,"wires":[]},{"id":"e79a3c52.ae408","type":"inject","z":"b940d21c.1fff3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":\"\"}","payloadType":"json","x":140,"y":140,"wires":[["394c130c.943f4c"]]},{"id":"e6af827.9be108","type":"function","z":"b940d21c.1fff3","name":"Toggle","func":"var state;\nvar lamp = flow.get(\"lamp\");\n\n\nstate = flow.get(lamp+\"State\");\n\n\nif(state==\"OFF\"){\n    state = \"ON\"\n    \n}\nelse{\n    state = \"OFF\"\n    \n}\n\nflow.set(lamp+\"State\", state);\n\n\nmsg.payload.name = lamp;\nmsg.payload.state = state;\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":620,"wires":[["43300111.b5daa"]]},{"id":"8a13f8be.ca9058","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":290,"y":180,"wires":[["523a3a9a.7d63f4"]]},{"id":"523a3a9a.7d63f4","type":"function","z":"b940d21c.1fff3","name":"Update","func":"var lamp=\"lampBedroom\";\nflow.set(lamp+\"Brightness\", msg.payload.brightness);\nflow.set(lamp+\"State\", msg.payload.state);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["4ac241f7.278ac"]]},{"id":"79841cb4.d328e4","type":"inject","z":"b940d21c.1fff3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":60,"wires":[["c5ad66b8.e13328"]]},{"id":"c5ad66b8.e13328","type":"subflow:67f9a36c.f4a1fc","z":"b940d21c.1fff3","name":"","env":[{"name":"Step","value":"15","type":"num"}],"x":320,"y":60,"wires":[]},{"id":"c10f24b5.2fcc78","type":"mqtt in","z":"b940d21c.1fff3","name":"IKEA Button","topic":"zigbee2mqtt/Controler","qos":"1","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":130,"y":820,"wires":[["c0fa40f4a7d0bab6"]]},{"id":"348b3caf.4ad9c4","type":"function","z":"b940d21c.1fff3","name":"changeLamp","func":"var lamp = flow.get(\"lamp\");\n\n\nif(lamp==\"lampBedroom\"){\nlamp = 0;\n}\nelse if(lamp==\"lampLiving\"){\nlamp = 1;\n}\nelse if(lamp==\"lampkitchen\"){\nlamp = 2;\n}\n\n\nif(msg.payload.action==\"arrow_left_click\"){\nlamp++;\n}\nelse if(msg.payload.action==\"arrow_right_click\"){\nlamp--;\n}\n\n\nif(lamp>2){\nlamp=0;\n}\nelse if(lamp<0){\nlamp=2;\n}\nelse if(lamp!==lamp){\nlamp=0;\n}\n\n\nif(lamp==0){\nlamp = \"lampBedroom\";\n}\nelse if(lamp==1){\nlamp = \"lampLiving\";\n}\nelse if(lamp==2){\nlamp = \"lampkitchen\";\n}\n\nflow.set(\"lamp\", lamp);\nflow.set(lamp+\"OldState\", flow.get(lamp+\"State\"));\n\n\n\n\n\nmsg.payload.name = lamp;\nmsg.payload.state = \"ON\";\nreturn [msg];\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar lampChosen = 0;","finalize":"","libs":[],"x":570,"y":680,"wires":[["29c19065.34ecc","43300111.b5daa"]]},{"id":"16b3fa64.eb9956","type":"function","z":"b940d21c.1fff3","name":"Change color","func":"var lamp = flow.get(\"lamp\");\nvar type;\nif(lamp == \"lampBedroom\"){\n    type = \"RGB\";\n}\nelse if(lamp == \"lampLiving\"){\n    type = \"NORMAL\";\n}\nelse if(lamp == \"lampkitchen\"){\n    type = \"NORMAL\";\n}\n\nvar color_Lamp = flow.get(lamp+\"Color\");\nvar x;\nvar y;\n\n\nif(msg.payload.action==\"brightness_up_click\"){\ncolor_Lamp++;\n}\nif(msg.payload.action==\"brightness_down_click\"){\ncolor_Lamp--;\n}\n\nif(type == \"RGB\"){\n    if(color_Lamp>6){\n    color_Lamp=0;\n    }\n    else if(color_Lamp<0){\n    color_Lamp=6;\n    }\n    else if(color_Lamp!==color_Lamp){\n    color_Lamp=0;\n    }\n    \n    \n    //cor de rosa\n    if(color_Lamp==0){\n    x=0.477;\n    y=0.196;\n    }\n    //azul\n    if(color_Lamp==1){\n    x=0.136;\n    y=0.04;\n    }\n    //verde\n    else if(color_Lamp==2){\n    x=0.172;\n    y=0.747;\n    }\n    //branco\n    else if(color_Lamp==3){\n    x=0.323;\n    y=0.323;\n    }\n    //Amarelo\n    else if(color_Lamp==4){\n    x=0.444;\n    y=0.517;\n    }\n    //Laranja\n    else if(color_Lamp==5){\n    x=0.612;\n    y=0.374;\n    }\n    //vermelho\n    else if(color_Lamp==6){\n    x=0.701;\n    y=0.299;\n    }\n    msg.payload.name = lamp;\n    msg.payload.state = \"ON\";\n    msg.payload.color = {\n            \"x\": x,\n            \"y\": y\n        };\n\n}\nelse if(type == \"NORMAL\"){\n    if(color_Lamp>2){\n    color_Lamp=0;\n    }\n    else if(color_Lamp<0){\n    color_Lamp=2;\n    }\n    else if(color_Lamp!==color_Lamp){\n    color_Lamp=0;\n    }\n    \n    //cool\n    if(color_Lamp==0){\n    x=250;\n    }\n    //neutral\n    if(color_Lamp==1){\n    x=370;\n    }\n    //warm\n    else if(color_Lamp==2){\n    x=474;\n    }\n    msg.payload.name = lamp;\n    msg.payload.state = \"ON\";\n    msg.payload.color_temp = x;\n}\n\n\n\n\n\nflow.set(lamp+\"Color\", color_Lamp);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":880,"wires":[["43300111.b5daa"]]},{"id":"e1f98b84.ebaba8","type":"function","z":"b940d21c.1fff3","name":"Brightness up","func":"var lamp = flow.get(\"lamp\");\n\n\nvar step = flow.get(\"Step\");\nvar brightness =  flow.get(lamp+\"Brightness\");\n\nif(brightness >= 0){\n    brightness = brightness + step;\n\t}\nelse if(brightness >= 254){\n    brightness = 254;\n    }\n\nflow.set(lamp+\"Brightness\", brightness);\n\n\nmsg.payload.name = lamp;\nmsg.payload.state = \"ON\";\nmsg.payload.brightness = brightness;\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1020,"wires":[["5a91ae00.597264"]]},{"id":"fef08c2f.c4f95","type":"function","z":"b940d21c.1fff3","name":"Brightness down","func":"var lamp = flow.get(\"lamp\");\n\nvar step = flow.get(\"Step\");\nvar brightness =  flow.get(lamp+\"Brightness\");\n\nif(brightness <= 254){\n    brightness = brightness - step;\n}\nelse if(brightness <= 0){\n    brightness = 0;\n}\n\nflow.set(lamp+\"Brightness\", brightness);\n\n\nmsg.payload.name = lamp;\nmsg.payload.state = \"ON\";\nmsg.payload.brightness = brightness;\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1080,"wires":[["c3e353b5.93054"]]},{"id":"e6927bf3.505548","type":"switch","z":"b940d21c.1fff3","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":1080,"wires":[["fef08c2f.c4f95","43300111.b5daa"]]},{"id":"43d986b8.332138","type":"switch","z":"b940d21c.1fff3","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":1020,"wires":[["e1f98b84.ebaba8","43300111.b5daa"]]},{"id":"5a91ae00.597264","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":750,"y":1020,"wires":[["43d986b8.332138"]]},{"id":"c3e353b5.93054","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":750,"y":1080,"wires":[["e6927bf3.505548"]]},{"id":"9f44e26f.81fd1","type":"change","z":"b940d21c.1fff3","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":940,"wires":[["1712a061.4c8cd"]]},{"id":"b8679e0a.0a6e","type":"change","z":"b940d21c.1fff3","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":980,"wires":[["1712a061.4c8cd"]]},{"id":"1712a061.4c8cd","type":"change","z":"b940d21c.1fff3","name":"Control the loop","rules":[{"t":"set","p":"press","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":960,"wires":[[]]},{"id":"1e4ffbb6.efab44","type":"mqtt in","z":"b940d21c.1fff3","name":"IKEA Light","topic":"zigbee2mqtt/Lamp Living","qos":"2","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":140,"y":280,"wires":[["7ed7eba7.6468a4"]]},{"id":"b3e9e6a0.c9ccb8","type":"debug","z":"b940d21c.1fff3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"7ed7eba7.6468a4","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":290,"y":280,"wires":[["f9f48c69.9bdb4"]]},{"id":"f9f48c69.9bdb4","type":"function","z":"b940d21c.1fff3","name":"Update","func":"var lamp=\"lampLiving\";\nflow.set(lamp+\"Brightness\", msg.payload.brightness);\nflow.set(lamp+\"State\", msg.payload.state);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["b3e9e6a0.c9ccb8"]]},{"id":"d1f5f98c.ec9938","type":"mqtt out","z":"b940d21c.1fff3","name":"Lamp Living Status","topic":"zigbee2mqtt/Lamp Living/get","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":310,"y":240,"wires":[]},{"id":"531f2421.69c60c","type":"inject","z":"b940d21c.1fff3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":\"\"}","payloadType":"json","x":140,"y":240,"wires":[["d1f5f98c.ec9938"]]},{"id":"fd77168f.d01348","type":"inject","z":"b940d21c.1fff3","name":"","props":[{"p":"payload","v":"{\"state\":\"\"}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":\"\"}","payloadType":"json","x":140,"y":740,"wires":[["9b06ae7d.8d313"]]},{"id":"9b06ae7d.8d313","type":"mqtt out","z":"b940d21c.1fff3","name":"Controler Status","topic":"zigbee2mqtt/Controler","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":300,"y":740,"wires":[]},{"id":"1c4c5e84.f42b51","type":"function","z":"b940d21c.1fff3","name":"Update","func":"msg.payload = {\n        \"lamp\":\"lampLiving\",\n        \"effect\":\"blink\"\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":60,"wires":[["106205c6.29351a"]]},{"id":"106205c6.29351a","type":"debug","z":"b940d21c.1fff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":60,"wires":[]},{"id":"9ef07926.1d5868","type":"inject","z":"b940d21c.1fff3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":730,"y":60,"wires":[["1c4c5e84.f42b51"]]},{"id":"1f16943e.7a85cc","type":"mqtt in","z":"b940d21c.1fff3","name":"IKEA Light","topic":"zigbee2mqtt/Lamp kitchen","qos":"2","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":140,"y":380,"wires":[["2919baa8.8a4656"]]},{"id":"65d6a3ee.f8ab2c","type":"debug","z":"b940d21c.1fff3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]},{"id":"2919baa8.8a4656","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":290,"y":380,"wires":[["8235719e.7268"]]},{"id":"8235719e.7268","type":"function","z":"b940d21c.1fff3","name":"Update","func":"var lamp=\"lampkitchen\";\nflow.set(lamp+\"Brightness\", msg.payload.brightness);\nflow.set(lamp+\"State\", msg.payload.state);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["65d6a3ee.f8ab2c"]]},{"id":"3e6fed2b.487752","type":"mqtt out","z":"b940d21c.1fff3","name":"Lamp kitchen Status","topic":"zigbee2mqtt/Lamp kitchen/get","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":320,"y":340,"wires":[]},{"id":"1ace674e.0e7d49","type":"inject","z":"b940d21c.1fff3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":\"\"}","payloadType":"json","x":140,"y":340,"wires":[["3e6fed2b.487752"]]},{"id":"43300111.b5daa","type":"subflow:b570ad91.2fbcb","z":"b940d21c.1fff3","name":"","env":[],"x":1130,"y":860,"wires":[["176495f4b6854813"]]},{"id":"2866cdc7.328b22","type":"debug","z":"b940d21c.1fff3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":980,"wires":[]},{"id":"7f76e828.d9c348","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":570,"y":760,"wires":[["a5749ac2.6562b8"]]},{"id":"29c19065.34ecc","type":"function","z":"b940d21c.1fff3","name":"changeLamp","func":"var lamp = flow.get(\"lamp\");\n\nmsg.payload.name = lamp;\nmsg.payload.effect = \"blink\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar lampChosen = 0;","finalize":"","libs":[],"x":570,"y":720,"wires":[["7f76e828.d9c348","43300111.b5daa"]]},{"id":"a5749ac2.6562b8","type":"function","z":"b940d21c.1fff3","name":"changeLamp","func":"var lamp = flow.get(\"lamp\");\nvar state = flow.get(lamp+\"OldState\");\n\nflow.set(lamp+\"State\", state);\n\nmsg.payload.name = lamp;\nmsg.payload.state = state;\nreturn [msg];\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar lampChosen = 0;","finalize":"","libs":[],"x":570,"y":800,"wires":[["43300111.b5daa"]]},{"id":"7a5b9d8f.6cf8d4","type":"function","z":"b940d21c.1fff3","name":"toggle hold","func":"msg.payload.name = \"lampAll\";\nmsg.payload.state = \"OFF\";\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":580,"wires":[["43300111.b5daa"]]},{"id":"fbcde427db72fc68","type":"mqtt in","z":"b940d21c.1fff3","name":"sala_illuminance","topic":"sala/sensor/sala_illuminance/state","qos":"2","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":100,"y":1300,"wires":[["fddd795d961d788e"]]},{"id":"bd59720cea2f565f","type":"range","z":"b940d21c.1fff3","minin":"0","maxin":"0.4","minout":"254","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":280,"y":1300,"wires":[["7977df89ce375ddb"]]},{"id":"975a91fe25190bf5","type":"function","z":"b940d21c.1fff3","name":"Brightness down","func":"var lamp = flow.get(\"lamp\");\nlamp = \"lampLiving\";\n\n\nvar LastBrightness =  flow.get(lamp+\"Brightness\");\nvar sensorBrightness = msg.payload;\nvar brightness;\n\n\n\n\n\n\nif(sensorBrightness <= 0){\nsensorBrightness = 0;\n}\nelse if(sensorBrightness >= 254){\nsensorBrightness = 254;\n}\n\n\n\n\n\n\nvar Precent_4 = sensorBrightness + (sensorBrightness * 0.30);\nvar Precent_3 = sensorBrightness + (sensorBrightness * 0.10);\nvar Precent_2 = sensorBrightness - (sensorBrightness * 0.10);\nvar Precent_1 = sensorBrightness - (sensorBrightness * 0.30);\n\nvar a;\n\nif(LastBrightness <= Precent_2 || LastBrightness >= Precent_3)\n{\n\nif(sensorBrightness <= 0){\nbrightness = 0;\n}\nelse if(sensorBrightness >= 254){\nbrightness = 254;\n}\nelse if(LastBrightness > Precent_1 && LastBrightness < Precent_2)\n{\nbrightness = LastBrightness + 1;\na = \"+1\";\n}\nelse if(LastBrightness < Precent_4 && LastBrightness > Precent_3)\n{\nbrightness = LastBrightness - 1;\na = \"-1\";\n}\nelse if(LastBrightness >= Precent_3)\n{\nbrightness = LastBrightness - 10;\na = \"-10\";\n}\nelse if(LastBrightness <= Precent_2)\n{\nbrightness = LastBrightness + 10;\na = \"+10\";\n}\n\nif(brightness <= 0){\nbrightness = 0;\n}\nelse if(brightness >= 254){\nbrightness = 254;\n}\n\n\nmsg.payload = {\n    \"state\":\"ON\",\n    \"brightness\":brightness,\n    \"lamp\":lamp,\n    \"sensorBrightness\":sensorBrightness,\n    \"LastBrightness\":LastBrightness,\n    \"Precent_1\":Precent_1,\n    \"Precent_2\":Precent_2,\n    \"Precent_3\":Precent_3,\n    \"Precent_4\":Precent_4,\n    \"a\":a\n    \n};\n\nflow.set(lamp+\"Brightness\", brightness);\n\n\n}\nelse\n{\n msg.payload = {\n    \"brightness\":brightness,\n    \"sensorBrightness\":sensorBrightness,\n    \"LastBrightness\":LastBrightness,\n    \"Precent_1\":Precent_1,\n    \"Precent_2\":Precent_2,\n    \"Precent_3\":Precent_3,\n    \"Precent_4\":Precent_4,\n    \n};   \n    \n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1300,"wires":[[]]},{"id":"fddd795d961d788e","type":"debug","z":"b940d21c.1fff3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":1360,"wires":[]},{"id":"7977df89ce375ddb","type":"switch","z":"b940d21c.1fff3","name":"if  LDR Sensor","property":"ldrSensor","propertyType":"global","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1300,"wires":[["2453152238d8187d","c1295a8e63b4ae98"]]},{"id":"2453152238d8187d","type":"function","z":"b940d21c.1fff3","name":"state lamp","func":"var lamp = flow.get(\"contLamp\");\n\n\n\nif(lamp==\"lampBedroom\"){\nlamp = \"lampLiving\";\n}\nelse if(lamp==\"lampLiving\"){\nlamp = \"lampkitchen\";\n}\nelse if(lamp==\"lampkitchen\"){\nlamp = \"lampBedroom\";\n}\n\nflow.set(\"contLamp\", lamp);\n\n\n\nvar state = flow.get(lamp+\"State\");\n\nif(state==\"ON\"){\nmsg.payload = {\n        \"payload\": msg.payload,\n        \"lamp\": lamp\n    };\n    return msg;\n}\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1300,"wires":[["975a91fe25190bf5","c1295a8e63b4ae98"]]},{"id":"c1295a8e63b4ae98","type":"debug","z":"b940d21c.1fff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1420,"wires":[]},{"id":"176495f4b6854813","type":"subflow:97561555.3ea248","z":"b940d21c.1fff3","name":"","env":[{"name":"name","value":"lamps","type":"str"},{"name":"header","value":"{\"time\": \"\",         \"input\": \"\",         \"output\": \"\",         \"name\": \"\",         \"state\": \"\",         \"brightness\": \"\",         \"color_temp\": \"\",         \"color\": \"\",         \"action\": \"\",         \"effect\": \"\",         \"linkquality\": \"\",         \"battery\": \"\",         \"update\": \"\",         \"update_available\": \"\"     }","type":"json"}],"x":1150,"y":920,"wires":[["2866cdc7.328b22"]]},{"id":"c0fa40f4a7d0bab6","type":"function","z":"b940d21c.1fff3","name":"info","func":"msg.payload.output = \"zigbee2mqtt\";\nmsg.payload.input = \"IKA Button\";\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":900,"wires":[["c786b38d.959c2"]]},{"id":"6471fa73cd55b926","type":"function","z":"b940d21c.1fff3","name":"Change color","func":"var lamp = \"lampBedroom\";\nvar type;\n\n\nvar color_Lamp = flow.get(\"teste\");\nvar x;\nvar y;\n\ncolor_Lamp++;\n\n\n\nif(color_Lamp>6){\ncolor_Lamp=0;\n}\nelse if(color_Lamp<0){\ncolor_Lamp=6;\n}\nelse if(color_Lamp!==color_Lamp){\ncolor_Lamp=0;\n}\n    \n    \n//cor de rosa\nif(color_Lamp==0){\nx=0.477;\ny=0.196;\n}\n//azul\nif(color_Lamp==1){\nx=0.136;\ny=0.04;\n}\n//verde\nelse if(color_Lamp==2){\nx=0.172;\ny=0.747;\n}\n//branco\nelse if(color_Lamp==3){\nx=0.323;\ny=0.323;\n}\n//Amarelo\nelse if(color_Lamp==4){\nx=0.444;\ny=0.517;\n}\n//Laranja\nelse if(color_Lamp==5){\nx=0.612;\ny=0.374;\n}\n//vermelho\nelse if(color_Lamp==6){\nx=0.701;\ny=0.299;\n}\nmsg.payload = {\n    name : lamp,\n    state : \"ON\",\n    color : {\n        \"x\": x,\n        \"y\": y\n    }};\n\n\n\n\n\n\nflow.set(\"teste\", color_Lamp);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"teste\", 0);","finalize":"","libs":[],"x":1003.8125,"y":403.4187316894531,"wires":[["8e43053978bb6394","3a87610de1ecd032"]]},{"id":"8e43053978bb6394","type":"subflow:b570ad91.2fbcb","z":"b940d21c.1fff3","name":"","env":[],"x":1250,"y":400,"wires":[[]]},{"id":"34486c1d6e79814d","type":"inject","z":"b940d21c.1fff3","name":"","props":[],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":842.8125,"y":476.01873779296875,"wires":[[]]},{"id":"3a87610de1ecd032","type":"debug","z":"b940d21c.1fff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":540,"wires":[]},{"id":"fe98853c25f77113","type":"mqtt in","z":"697c7bbd8528b696","name":"IKEA Button","topic":"zigbee2mqtt/Sensor PIR","qos":"1","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":390,"y":160,"wires":[["2fec8926cd597aad","47a71a7b8fa7c572"]]},{"id":"47a71a7b8fa7c572","type":"debug","z":"697c7bbd8528b696","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"2fec8926cd597aad","type":"switch","z":"697c7bbd8528b696","name":"Messages","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"tamper","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":710,"y":320,"wires":[[]]},{"id":"b850928ce39879fa","type":"http request","z":"697c7bbd8528b696","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":520,"wires":[["c57331f731060362"]]},{"id":"c57331f731060362","type":"http response","z":"697c7bbd8528b696","name":"","statusCode":"","headers":{},"x":1170,"y":520,"wires":[]},{"id":"947cbd06c39a6977","type":"inject","z":"697c7bbd8528b696","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":520,"wires":[["92d905f91d16f229"]]},{"id":"92d905f91d16f229","type":"function","z":"697c7bbd8528b696","name":"Whatsapp notification","func":"var key = \"128764\";\nvar phone = \"+351934272501\";\nvar url = \"https://api.callmebot.com/whatsapp.php?\";\n\n\nvar text = \"This+is+a+test\";\n\nmsg.url = url + \"phone=\" + phone + \"&text=\" + text + \"&apikey=\" + key;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":520,"wires":[["b850928ce39879fa"]]},{"id":"6f0c2a155a3dae22","type":"debug","z":"5f379bc93ab340f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":580,"wires":[]},{"id":"a04a12f2c18eb158","type":"influxdb out","z":"5f379bc93ab340f4","influxdb":"7780c62b.7cb898","name":"Light","measurement":"stations","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":810,"y":540,"wires":[]},{"id":"5e624ed4291f7f99","type":"function","z":"5f379bc93ab340f4","name":"Light","func":"\nif (msg.payload[\"SAT\"]) saturated=true\nelse saturated=false\n\nmsg.payload = [\n{\n    UV: msg.payload[\"UV\"],\n    IR: msg.payload[\"IR\"],\n    L: msg.payload[\"L\"],\n    LA: msg.payload[\"LA\"],\n    R: msg.payload[\"R\"],\n    G: msg.payload[\"G\"],\n    B: msg.payload[\"B\"],\n    CT: msg.payload[\"CT\"],\n    BAT: msg.payload[\"Bat\"]\n},{\n    name: \"Light1\"\n    \n}]\nglobal.set(\"Lux\",msg.payload[0].L);\n//global.set(\"Lux\",10000);\nnode.status({fill:\"green\",shape:\"ring\",text:msg.payload[0].L});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":540,"wires":[["6f0c2a155a3dae22","a04a12f2c18eb158"]]},{"id":"0ab65930a45bb76b","type":"function","z":"5f379bc93ab340f4","name":"Create Message","func":"hi= msg.payload;\npayload={chatId:876235944,\ntype:\"message\",\ncontent: hi\n};\nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":640,"wires":[[]]},{"id":"c1e6e2a743febfb7","type":"function","z":"5f379bc93ab340f4","name":"Create Message","func":"payload={chatId:876235944,\ntype:\"message\",\ncontent: \"Battery low\"\n};\nreturn {payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":480,"wires":[[]]},{"id":"b4d2f3eed74b0579","type":"switch","z":"5f379bc93ab340f4","name":"Battery low (3.2V)","property":"payload[\"Bat\"]","propertyType":"msg","rules":[{"t":"lte","v":"3.2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":480,"wires":[["c1e6e2a743febfb7"]]},{"id":"2b0a96b7d8aa5c27","type":"timeout","z":"5f379bc93ab340f4","name":"Lightsensor Timeout","outtopic":"alarm","outsafe":"","outwarning":"","outunsafe":"Lightsensor not working","warning":"1","timer":"3000","repeat":false,"again":true,"x":600,"y":640,"wires":[["0ab65930a45bb76b"]]},{"id":"6d8e9fc06f0c1354","type":"inject","z":"5f379bc93ab340f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":540,"wires":[["5e624ed4291f7f99"]]},{"id":"18833938057ef8cc","type":"file","z":"5f379bc93ab340f4","name":"","filename":"/share/rui.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":890,"y":220,"wires":[[]]},{"id":"bed6061c879e078c","type":"inject","z":"5f379bc93ab340f4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":350,"y":220,"wires":[[]]},{"id":"490754ca925f281c","type":"function","z":"5f379bc93ab340f4","name":"Time","func":"\n\n\nmsg.payload=Date();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[["18833938057ef8cc"]]},{"id":"7d39b22b1425ccad","type":"change","z":"5f379bc93ab340f4","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"foo","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1000,"wires":[["c8e0b6a5fa2f60fd"]]},{"id":"f3850fe365aa9fc2","type":"inject","z":"5f379bc93ab340f4","name":"Reset","repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":250,"y":1080,"wires":[["7d39b22b1425ccad"]]},{"id":"ab20ee978259f8bc","type":"debug","z":"5f379bc93ab340f4","name":"Four presses","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":1120,"wires":[]},{"id":"b0317041b7a66df7","type":"inject","z":"5f379bc93ab340f4","name":"Start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":940,"wires":[["c8e0b6a5fa2f60fd","1df944d8dc8479c1"]]},{"id":"c8e0b6a5fa2f60fd","type":"counter","z":"5f379bc93ab340f4","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":600,"y":950,"wires":[["4604879325c496ec","f1fa47d59a7f50a8"]]},{"id":"685f6010a26d6ab4","type":"switch","z":"5f379bc93ab340f4","name":"count presses","property":"count","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":800,"y":1060,"wires":[["8676df8005d1304a"],["edbb0e371d5825f0"],["a0e7a4aa0d51bb96"],["558a8d7b632a32f7"]],"info":"Just expand the flow.count to how ever many\npresses you want/need."},{"id":"1df944d8dc8479c1","type":"trigger","z":"5f379bc93ab340f4","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"6","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":1000,"wires":[["7d39b22b1425ccad"]]},{"id":"f1fa47d59a7f50a8","type":"change","z":"5f379bc93ab340f4","name":"Flow set","rules":[{"t":"set","p":"count","pt":"flow","to":"count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":910,"wires":[[]]},{"id":"b2abbe8d470b5823","type":"debug","z":"5f379bc93ab340f4","name":"Tripple press","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":1080,"wires":[]},{"id":"92e1f8b8ef62a501","type":"debug","z":"5f379bc93ab340f4","name":"Double press","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":1040,"wires":[]},{"id":"4034aa7c44e778d0","type":"delay","z":"5f379bc93ab340f4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":780,"y":1000,"wires":[["685f6010a26d6ab4"]]},{"id":"7d6dd365f99b3b00","type":"debug","z":"5f379bc93ab340f4","name":"Single Press","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":1000,"wires":[]},{"id":"4604879325c496ec","type":"switch","z":"5f379bc93ab340f4","name":"","property":"count","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":950,"wires":[["4034aa7c44e778d0"]]},{"id":"8676df8005d1304a","type":"change","z":"5f379bc93ab340f4","name":"Single Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Single Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1000,"wires":[["7d6dd365f99b3b00"]]},{"id":"edbb0e371d5825f0","type":"change","z":"5f379bc93ab340f4","name":"Double Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Double Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1040,"wires":[["92e1f8b8ef62a501"]]},{"id":"a0e7a4aa0d51bb96","type":"change","z":"5f379bc93ab340f4","name":"Tripple Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Tripple Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1080,"wires":[["b2abbe8d470b5823"]]},{"id":"558a8d7b632a32f7","type":"change","z":"5f379bc93ab340f4","name":"Four Press","rules":[{"t":"set","p":"payload","pt":"msg","to":"Four Press","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1120,"wires":[["ab20ee978259f8bc"]]},{"id":"1d1ea52abae0f0a7","type":"comment","z":"5f379bc93ab340f4","name":"DELAY - Readme","info":"The DELAY time has to be a bit longer than how\nlong it takes you to press the button the\nmaximum number of times.\nRead information in the SWITCH node too!","x":800,"y":870,"wires":[]},{"id":"be207670c765b130","type":"comment","z":"5f379bc93ab340f4","name":"Input","info":"","x":410,"y":910,"wires":[]},{"id":"24fbde69cb90a842","type":"comment","z":"5f379bc93ab340f4","name":"Outputs","info":"Debug nodes are here now, but just connect\nthem to what ever you want.\nThe messages sent are in the nodes just before\nthe debug nodes.\n","x":1160,"y":960,"wires":[]}]