node-red/flows.json
[{"id":"2de254bde65ce4db","type":"tab","label":"Termostats","disabled":false,"info":"","env":[]},{"id":"697c7bbd8528b696","type":"tab","label":"Sensor PIR","disabled":false,"info":""},{"id":"14b58da5.cd12e2","type":"tab","label":"esphome ota update","disabled":false,"info":""},{"id":"20dd25b.60e48da","type":"tab","label":"homeassistant","disabled":false,"info":""},{"id":"b940d21c.1fff3","type":"tab","label":"IKEA","disabled":false,"info":""},{"id":"42668c94.fa2fd4","type":"subflow","name":"Esp MQTT","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"6c442476.b5e7bc"},{"id":"c60bd500.dd1b08"}]}],"out":[{"x":880,"y":80,"wires":[{"id":"7237e4b3.28bddc","port":0}]},{"x":880,"y":160,"wires":[{"id":"8ab0f3e8.d0817","port":2}]},{"x":880,"y":220,"wires":[{"id":"d2120413.0bb188","port":0}]},{"x":880,"y":260,"wires":[{"id":"d2120413.0bb188","port":1},{"id":"8ab0f3e8.d0817","port":0}]},{"x":880,"y":400,"wires":[{"id":"d2120413.0bb188","port":0}]}],"env":[],"color":"#DDAA99","outputLabels":["Sleepmode","button long press","out on","out off"]},{"id":"a48db0b1.9dac6","type":"subflow","name":"Zigbee Low Battery Setting","info":"","category":"","in":[{"x":260,"y":80,"wires":[{"id":"8e65b3ed.9f24"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"8e65b3ed.9f24","port":0}]}],"env":[{"name":"NotificationDevice","type":"str","value":""},{"name":"BatteryWarning","type":"num","value":"","ui":{"icon":"font-awesome/fa-battery-0","label":{"en-US":"Min Value"},"type":"spinner","opts":{"min":1,"max":25}}}],"color":"#DDAA99"},{"id":"97561555.3ea248","type":"subflow","name":"logsHistory","info":"","category":"","in":[{"x":20,"y":60,"wires":[{"id":"a558a30245001ad1"}]}],"out":[{"x":1100,"y":240,"wires":[{"id":"3a897ac55cd126e8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"67f9a36c.f4a1fc","type":"subflow","name":"Dimmer Settings","info":"","category":"","in":[{"x":400,"y":80,"wires":[{"id":"67fe2056.d8cd7"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"67fe2056.d8cd7","port":0}]}],"env":[{"name":"Step","type":"num","value":"30"}],"color":"#3FADB5","icon":"node-red/cog.svg"},{"id":"b570ad91.2fbcb","type":"subflow","name":"lamps","info":"","category":"","in":[{"x":100,"y":240,"wires":[{"id":"9bbd8a0b190975ed"}]}],"out":[{"x":200,"y":360,"wires":[{"id":"b570ad91.2fbcb","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"225328c7.4e9ce8","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"3ca313b8.542abc","type":"mqtt-broker","name":"Home assistant Hub MQTT","broker":"192.168.10.50","port":"1883","clientid":"nodeRed","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7780c62b.7cb898","type":"influxdb","hostname":"influxdb","port":"8086","protocol":"http","database":"Light","name":"Light","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"f181a11d.afdf1","type":"telegram bot","botname":"sensorsIOT_AwningBot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"8a73c67b.2b7f08","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"4cbeb8f1.4c34c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e8541499.96efe8","type":"ui_group","name":"Default","tab":"8a73c67b.2b7f08","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9f5cae2.ae6b18","type":"server","name":"Home Assistant","version":1,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true},{"id":"c0689660.4e98c8","type":"ui_group","name":"Camera Login","tab":"7a3391b6.03a81","order":1,"disp":true,"width":"6","collapse":false},{"id":"47feb3e4.56f11c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7a3391b6.03a81","type":"ui_tab","name":"Wiki Tutorial","icon":"dashboard"},{"id":"a1888981.9a9218","type":"ui_group","name":"Audio Detection","tab":"7a3391b6.03a81","order":2,"disp":true,"width":"6","collapse":false},{"id":"6e117ba5.8026e4","type":"mqtt-broker","name":"MQTT","broker":"automation.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e19d291d.da6018","type":"ui_group","name":"Zigbee Battery Status","tab":"71f75e8f.91051","order":1,"disp":true,"width":"20","collapse":false},{"id":"71f75e8f.91051","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"eca6af44.5297b","type":"mqtt-broker","name":"MQTT","broker":"dockerpi.local","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8200558ef26d215e","type":"mqtt-dynamic-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8ab0f3e8.d0817","type":"switch","z":"42668c94.fa2fd4","name":"Button STATE (Click)","property":"button","propertyType":"flow","rules":[{"t":"eq","v":"Double","vt":"str"},{"t":"eq","v":"Single_Short","vt":"str"},{"t":"eq","v":"Single_Long","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":500,"y":160,"wires":[["915ecf1b.655a1"],["915ecf1b.655a1","ba08d3f.1bee23"],["915ecf1b.655a1"]]},{"id":"d2120413.0bb188","type":"switch","z":"42668c94.fa2fd4","name":"presenceLight ?","property":"presenceLight","propertyType":"flow","rules":[{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":240,"wires":[["716939d4.3fcb48"],[]]},{"id":"46a1043c.c11e3c","type":"looptimer","z":"42668c94.fa2fd4","duration":"0.5","units":"Second","maxloops":"50","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":290,"y":340,"wires":[[],[]]},{"id":"ba08d3f.1bee23","type":"switch","z":"42668c94.fa2fd4","name":"status ?","property":"status","propertyType":"flow","rules":[{"t":"eq","v":"ON","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":240,"wires":[["d2120413.0bb188"]]},{"id":"7237e4b3.28bddc","type":"function","z":"42668c94.fa2fd4","name":"","func":"msg.payload = \"ON\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":80,"wires":[[]]},{"id":"2c30e4fe.8e2f0c","type":"change","z":"42668c94.fa2fd4","name":"status","rules":[{"t":"move","p":"payload","pt":"msg","to":"status","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":220,"wires":[["ba08d3f.1bee23"]]},{"id":"cb21372a.810f98","type":"change","z":"42668c94.fa2fd4","name":"presenceLight","rules":[{"t":"move","p":"payload","pt":"msg","to":"presenceLight","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":260,"wires":[[]]},{"id":"915ecf1b.655a1","type":"stoptimer","z":"42668c94.fa2fd4","duration":"5","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":480,"y":100,"wires":[["7237e4b3.28bddc"],[]]},{"id":"c60bd500.dd1b08","type":"stoptimer","z":"42668c94.fa2fd4","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":480,"y":60,"wires":[["7237e4b3.28bddc"],[]]},{"id":"6c442476.b5e7bc","type":"switch","z":"42668c94.fa2fd4","name":"Button STATE (Click)","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/binary_sensor/sala_button/STATE","vt":"str"},{"t":"cont","v":"/STATUS","vt":"str"},{"t":"cont","v":"/switch/sala_rele/state","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":160,"y":80,"wires":[["31329330.65248c"],["2c30e4fe.8e2f0c"],["cb21372a.810f98"]]},{"id":"31329330.65248c","type":"change","z":"42668c94.fa2fd4","name":"button","rules":[{"t":"move","p":"payload","pt":"msg","to":"button","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":180,"wires":[["8ab0f3e8.d0817"]]},{"id":"1ecccbab.99c984","type":"debug","z":"42668c94.fa2fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":540,"wires":[]},{"id":"b9e8ffef.8663d","type":"debug","z":"42668c94.fa2fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":540,"wires":[]},{"id":"716939d4.3fcb48","type":"debug","z":"42668c94.fa2fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":340,"wires":[]},{"id":"9196d299.f7bfc","type":"function","z":"42668c94.fa2fd4","name":"","func":"msg.payload = flow.get(\"button\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":540,"wires":[["b9e8ffef.8663d"]]},{"id":"1196ad16.1071c3","type":"debug","z":"42668c94.fa2fd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":600,"wires":[]},{"id":"996117e5.cbde68","type":"function","z":"42668c94.fa2fd4","name":"","func":"msg.payload = flow.get(\"presenceLight\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":600,"wires":[["1196ad16.1071c3"]]},{"id":"dbc8da46.f5cb08","type":"change","z":"42668c94.fa2fd4","name":"button","rules":[{"t":"move","p":"payload","pt":"msg","to":"button","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":360,"wires":[[]]},{"id":"8e65b3ed.9f24","type":"function","z":"a48db0b1.9dac6","name":"Set Values","func":"var minBattLevel = env.get(\"BatteryWarning\");\nflow.set(\"$parent.BatteryWarning\", parseInt(minBattLevel, 10));\n\nvar device = env.get(\"NotificationDevice\");\nflow.set(\"$parent.NotificationDevice\", device);\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[[]]},{"id":"a6bc79a1230de941","type":"file","z":"97561555.3ea248","name":"","filename":"/share/rui.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":640,"y":240,"wires":[["d17012d061b44b73"]]},{"id":"584f9a8d482dc054","type":"file in","z":"97561555.3ea248","name":"","filename":"/share/rui.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":true,"x":360,"y":140,"wires":[["2912eb1f120d7efb"]]},{"id":"d17012d061b44b73","type":"csv","z":"97561555.3ea248","name":"","sep":",","hdrin":false,"hdrout":"all","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":810,"y":240,"wires":[["3a897ac55cd126e8"]]},{"id":"3a897ac55cd126e8","type":"file","z":"97561555.3ea248","name":"","filename":"/share/rui.csv","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":970,"y":240,"wires":[[]]},{"id":"8146960562b95a01","type":"function","z":"97561555.3ea248","name":"json","func":"const [payload,json]=msg.payload;\njson.push(payload);\n\n\n\nreturn [{payload:json}];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":240,"wires":[["a6bc79a1230de941"]]},{"id":"238d1a8b0190e90c","type":"join","z":"97561555.3ea248","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":240,"wires":[["8146960562b95a01"]]},{"id":"39377930a342cfe8","type":"json","z":"97561555.3ea248","name":"","property":"payload","action":"obj","pretty":true,"x":750,"y":180,"wires":[["238d1a8b0190e90c"]]},{"id":"0cce69ae79370a4b","type":"function","z":"97561555.3ea248","name":"time","func":"msg.payload.time = Date();\n\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":140,"wires":[["584f9a8d482dc054","238d1a8b0190e90c"]]},{"id":"d60d29e60522419b","type":"function","z":"97561555.3ea248","name":"Payload Start Organize","func":"msg.payload = [\n    {\n    \"time\" : \"\",\n    \"type\" : \"\",\n    \"subType\" : \"\",\n    \"lamp\" : \"\",\n    \"state\" : \"\",\n    \"brightness\" : \"\",\n    \"color_temp\" : \"\",\n    \"color\" : \"\",\n    \"action\" : \"\",\n    \"effect\" : \"\",\n   \n    \"linkquality\" : \"\",\n    \"battery\" : \"\",\n    \"update\" : \"\",\n    \"update_available\" : \"\"\n    }\n];\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":140,"wires":[["238d1a8b0190e90c"]]},{"id":"2912eb1f120d7efb","type":"switch","z":"97561555.3ea248","name":"subType","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"neq","v":"","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":140,"wires":[["d60d29e60522419b"],["39377930a342cfe8"]]},{"id":"a558a30245001ad1","type":"delay","z":"97561555.3ea248","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":60,"wires":[["0cce69ae79370a4b"]]},{"id":"67fe2056.d8cd7","type":"function","z":"67f9a36c.f4a1fc","name":"Step","func":"var x = env.get(\"Step\"); \nflow.set(\"$parent.Step\", x);\n\nmsg.payload = \"Your brightness increment has been set to: \" + x;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar x = env.get(\"Step\"); \nflow.set(\"$parent.Step\", x);\n\nmsg.payload = \"Your brightness increment has been set to: \" + x;\n\nreturn msg;","finalize":"","libs":[],"x":510,"y":80,"wires":[[]]},{"id":"569e84e.d0ac27c","type":"switch","z":"b570ad91.2fbcb","name":"","property":"payload.lamp","propertyType":"msg","rules":[{"t":"eq","v":"lampkitchen","vt":"str"},{"t":"eq","v":"lampBedroom","vt":"str"},{"t":"eq","v":"lampLiving","vt":"str"},{"t":"eq","v":"lampAll","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":470,"y":240,"wires":[["0f8df6109ea4f64e"],["d28fc28f4cada34c"],["da3923f97659c674"],["d28fc28f4cada34c","da3923f97659c674","0f8df6109ea4f64e"]]},{"id":"cc3fb62558dde7e2","type":"mqtt out","z":"b570ad91.2fbcb","name":"Light Control","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":1070,"y":240,"wires":[]},{"id":"0f8df6109ea4f64e","type":"function","z":"b570ad91.2fbcb","name":"topic \"Lamp kitchen\"","func":"msg.topic = \"zigbee2mqtt/Lamp kitchen/set\";\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["cc3fb62558dde7e2"]]},{"id":"d28fc28f4cada34c","type":"function","z":"b570ad91.2fbcb","name":"topic \"Lamp Bedroom\"","func":"msg.topic = \"zigbee2mqtt/Lamp Bedroom/set\";\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":240,"wires":[["cc3fb62558dde7e2"]]},{"id":"da3923f97659c674","type":"function","z":"b570ad91.2fbcb","name":"topic \"Lamp Living\"","func":"msg.topic = \"zigbee2mqtt/Lamp Living/set\";\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":280,"wires":[["cc3fb62558dde7e2"]]},{"id":"9bbd8a0b190975ed","type":"function","z":"b570ad91.2fbcb","name":"Payload Organize","func":"msg1= {\n    \"subType\" : msg.payload.subType,\n    \"lamp\" : msg.payload.lamp,\n    \"state\" : msg.payload.state,\n    \"brightness\" : msg.payload.brightness,\n    \"color\" : msg.payload.color,\n    \"color_temp\" : msg.payload.color_temp,\n    \"effect\" : msg.payload.effect\n    };\n\nreturn [{payload:msg1}];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":240,"wires":[["569e84e.d0ac27c"]]},{"id":"d76a9d0dc1cb5659","type":"trigger-state","z":"2de254bde65ce4db","name":"","server":"225328c7.4e9ce8","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"climate.gas_heater","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":170,"y":240,"wires":[[],["d21566d3ea0db6fd"]]},{"id":"d21566d3ea0db6fd","type":"api-current-state","z":"2de254bde65ce4db","name":"","server":"225328c7.4e9ce8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.gas_heater","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":180,"y":300,"wires":[["b5f2ef961e8bc777"]]},{"id":"b4a13b98351ab68b","type":"function","z":"2de254bde65ce4db","name":"Cancel Deep Sleep on Heater","func":"msg.payload = \"prevent\"\nglobal.set(\"ota_update_kitchen\", \"prevent\");\nflow.set(\"ota_update_kitchen_state\", \"heat\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":400,"wires":[["f48b135c18015315"]]},{"id":"f48b135c18015315","type":"mqtt out","z":"2de254bde65ce4db","name":"","topic":"esphome/kitchen/deep_sleep_mode/ota_mode","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":880,"y":380,"wires":[]},{"id":"9c079287cee3a790","type":"switch","z":"2de254bde65ce4db","name":"if \"off\"","property":"payload.original_state","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":360,"wires":[["d0b858334273c447"]]},{"id":"b3313aad2ce6af3e","type":"switch","z":"2de254bde65ce4db","name":"if \"heat\"","property":"payload.original_state","propertyType":"msg","rules":[{"t":"eq","v":"heat","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":400,"wires":[["b4a13b98351ab68b"]]},{"id":"d0b858334273c447","type":"function","z":"2de254bde65ce4db","name":"Deep Sleep on Heater","func":"msg.payload = \"enter\"\nglobal.set(\"ota_update_kitchen\", \"off\");\nflow.set(\"ota_update_kitchen_state\", \"off\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[["f48b135c18015315"]]},{"id":"b5f2ef961e8bc777","type":"switch","z":"2de254bde65ce4db","name":"if \"off\"","property":"payload.original_state","propertyType":"msg","rules":[{"t":"neq","v":"ota_update_kitchen_state","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":90,"y":380,"wires":[["9c079287cee3a790","b3313aad2ce6af3e"]]},{"id":"fe98853c25f77113","type":"mqtt in","z":"697c7bbd8528b696","name":"IKEA Button","topic":"zigbee2mqtt/Sensor PIR","qos":"1","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":390,"y":160,"wires":[["2fec8926cd597aad","47a71a7b8fa7c572"]]},{"id":"47a71a7b8fa7c572","type":"debug","z":"697c7bbd8528b696","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":160,"wires":[]},{"id":"2fec8926cd597aad","type":"switch","z":"697c7bbd8528b696","name":"Messages","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"tamper","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":710,"y":320,"wires":[[]]},{"id":"b850928ce39879fa","type":"http request","z":"697c7bbd8528b696","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":520,"wires":[["c57331f731060362"]]},{"id":"c57331f731060362","type":"http response","z":"697c7bbd8528b696","name":"","statusCode":"","headers":{},"x":1170,"y":520,"wires":[]},{"id":"947cbd06c39a6977","type":"inject","z":"697c7bbd8528b696","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":330,"y":520,"wires":[["92d905f91d16f229"]]},{"id":"92d905f91d16f229","type":"function","z":"697c7bbd8528b696","name":"Whatsapp notification","func":"var key = \"128764\";\nvar phone = \"+351934272501\";\nvar url = \"https://api.callmebot.com/whatsapp.php?\";\n\n\nvar text = \"This+is+a+test\";\n\nmsg.url = url + \"phone=\" + phone + \"&text=\" + text + \"&apikey=\" + key;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":520,"wires":[["b850928ce39879fa"]]},{"id":"7d5c545.65473ac","type":"debug","z":"14b58da5.cd12e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1000,"wires":[]},{"id":"85b848df.873208","type":"influxdb out","z":"14b58da5.cd12e2","influxdb":"7780c62b.7cb898","name":"Light","measurement":"stations","precision":"s","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":670,"y":960,"wires":[]},{"id":"1563fea3.4e72f1","type":"function","z":"14b58da5.cd12e2","name":"Light","func":"\nif (msg.payload[\"SAT\"]) saturated=true\nelse saturated=false\n\nmsg.payload = [\n{\n    UV: msg.payload[\"UV\"],\n    IR: msg.payload[\"IR\"],\n    L: msg.payload[\"L\"],\n    LA: msg.payload[\"LA\"],\n    R: msg.payload[\"R\"],\n    G: msg.payload[\"G\"],\n    B: msg.payload[\"B\"],\n    CT: msg.payload[\"CT\"],\n    BAT: msg.payload[\"Bat\"]\n},{\n    name: \"Light1\"\n    \n}]\nglobal.set(\"Lux\",msg.payload[0].L);\n//global.set(\"Lux\",10000);\nnode.status({fill:\"green\",shape:\"ring\",text:msg.payload[0].L});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":960,"wires":[["7d5c545.65473ac","85b848df.873208"]]},{"id":"ede4d86d.04ae08","type":"function","z":"14b58da5.cd12e2","name":"Create Message","func":"hi= msg.payload;\npayload={chatId:876235944,\ntype:\"message\",\ncontent: hi\n};\nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1060,"wires":[[]]},{"id":"9f97df6e.0b97d","type":"function","z":"14b58da5.cd12e2","name":"Create Message","func":"payload={chatId:876235944,\ntype:\"message\",\ncontent: \"Battery low\"\n};\nreturn {payload};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":900,"wires":[[]]},{"id":"da4274.987ffd9","type":"switch","z":"14b58da5.cd12e2","name":"Battery low (3.2V)","property":"payload[\"Bat\"]","propertyType":"msg","rules":[{"t":"lte","v":"3.2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":900,"wires":[["9f97df6e.0b97d"]]},{"id":"e9e1b845.dd7ff8","type":"timeout","z":"14b58da5.cd12e2","name":"Lightsensor Timeout","outtopic":"alarm","outsafe":"","outwarning":"","outunsafe":"Lightsensor not working","warning":"1","timer":"3000","repeat":false,"again":true,"x":460,"y":1060,"wires":[["ede4d86d.04ae08"]]},{"id":"f32cc183.51b16","type":"inject","z":"14b58da5.cd12e2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":960,"wires":[["1563fea3.4e72f1"]]},{"id":"f74bd83b.093ed8","type":"debug","z":"14b58da5.cd12e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":360,"wires":[]},{"id":"ce387a9daa25899f","type":"file","z":"14b58da5.cd12e2","name":"","filename":"/share/rui.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":750,"y":640,"wires":[[]]},{"id":"628698ffe884d266","type":"inject","z":"14b58da5.cd12e2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":210,"y":640,"wires":[[]]},{"id":"365ce4273fc98cd0","type":"function","z":"14b58da5.cd12e2","name":"Time","func":"\n\n\nmsg.payload=Date();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":640,"wires":[["ce387a9daa25899f"]]},{"id":"746433cb7f86317b","type":"function","z":"14b58da5.cd12e2","name":"Update","func":"if(msg.payload=='enter')\n{\n    msg.payload = 'off'\n}\n\nglobal.set(\"ota_update_kitchen\", msg.payload);\nglobal.set(\"ota_update_bedroom\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":80,"wires":[["2f0de855e0e8df71","ad1ed5345a97d989","5425f37ac3e03d54"]]},{"id":"2f0de855e0e8df71","type":"debug","z":"14b58da5.cd12e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":140,"wires":[]},{"id":"7b91a4db2b429e28","type":"inject","z":"14b58da5.cd12e2","name":"false","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"str","x":90,"y":120,"wires":[["746433cb7f86317b"]]},{"id":"256c9feeccf6c2c2","type":"inject","z":"14b58da5.cd12e2","name":"enter","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"enter","payloadType":"str","x":90,"y":40,"wires":[["ad1ed5345a97d989","5425f37ac3e03d54","746433cb7f86317b"]]},{"id":"96105d9b6964c762","type":"inject","z":"14b58da5.cd12e2","name":"prevent","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"prevent","payloadType":"str","x":90,"y":80,"wires":[["746433cb7f86317b"]]},{"id":"ad1ed5345a97d989","type":"mqtt out","z":"14b58da5.cd12e2","name":"","topic":"esphome/bedroom/deep_sleep_mode/ota_mode","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":860,"y":60,"wires":[]},{"id":"5425f37ac3e03d54","type":"mqtt out","z":"14b58da5.cd12e2","name":"","topic":"esphome/kitchen/deep_sleep_mode/ota_mode","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":860,"y":100,"wires":[]},{"id":"0c34dbf71ac93083","type":"mqtt in","z":"14b58da5.cd12e2","name":"","topic":"esphome/#","qos":"2","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":80,"y":240,"wires":[["f9205955a4a8b56b"]]},{"id":"f9205955a4a8b56b","type":"switch","z":"14b58da5.cd12e2","name":"/status","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/status","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":240,"wires":[["2b340db450829dd7"]]},{"id":"2b340db450829dd7","type":"function","z":"14b58da5.cd12e2","name":"topic","func":"var topic = msg.topic\ntopic = topic.replace('/status', '');\ntopic = topic.replace('esphome/', '');\nmsg.topic = 'esphome/'+topic+'/deep_sleep_mode/ota_mode'\nmsg.payload = topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":240,"wires":[["658fc8ced928dc31"]]},{"id":"658fc8ced928dc31","type":"function","z":"14b58da5.cd12e2","name":"OTA Update","func":"var topic = msg.payload\nvar adrss = 'ota_update_' + topic\nmsg.payload = global.get(adrss);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":240,"wires":[["cfe373109f69ea8b","9164f6408a7b9c7a"]]},{"id":"cfe373109f69ea8b","type":"mqtt out","z":"14b58da5.cd12e2","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":730,"y":240,"wires":[]},{"id":"9164f6408a7b9c7a","type":"debug","z":"14b58da5.cd12e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":280,"wires":[]},{"id":"b28198b5.7a2068","type":"switch","z":"20dd25b.60e48da","name":"subType","property":"payload.subType","propertyType":"msg","rules":[{"t":"eq","v":"homeUnblock","vt":"str"},{"t":"eq","v":"homeBlock","vt":"str"},{"t":"eq","v":"homeVacations","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":600,"y":240,"wires":[[],["7913b0df.124aa"],[]]},{"id":"6a472294.4078ec","type":"subflow:b570ad91.2fbcb","z":"20dd25b.60e48da","name":"","env":[],"x":950,"y":240,"wires":[["ec7a5eb28ceeab93"]]},{"id":"7913b0df.124aa","type":"function","z":"20dd25b.60e48da","name":"All Lamps Off","func":"msg.payload.state = \"OFF\";\nmsg.payload.lamp = \"lampAll\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":240,"wires":[["6a472294.4078ec"]]},{"id":"11c11347f165f9b5","type":"switch","z":"20dd25b.60e48da","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/State","vt":"str"},{"t":"cont","v":"/OtaUpdate","vt":"str"},{"t":"cont","v":"/ldrSensor","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":430,"y":320,"wires":[["b28198b5.7a2068"],["e2b23646668c0a16"],["729cb56f444f5b9f"]]},{"id":"729cb56f444f5b9f","type":"function","z":"20dd25b.60e48da","name":"LDR Sensor","func":"global.set(\"ldrSensor\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":360,"wires":[["99a9863d2b8abcf8"]]},{"id":"99a9863d2b8abcf8","type":"debug","z":"20dd25b.60e48da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":360,"wires":[]},{"id":"e2b23646668c0a16","type":"function","z":"20dd25b.60e48da","name":"OTA Update","func":"var ota_update = msg.payload;\n\nif(ota_update==\"on\"){\nmsg.payload = \"on\"\n}\nelse{\n msg.payload = \"off\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":300,"wires":[["17885b74d6a94c08"]]},{"id":"17885b74d6a94c08","type":"mqtt out","z":"20dd25b.60e48da","name":"","topic":"sala/ota_mode","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":940,"y":300,"wires":[]},{"id":"ec7a5eb28ceeab93","type":"subflow:97561555.3ea248","z":"20dd25b.60e48da","name":"","env":[],"x":1150,"y":240,"wires":[["82105863393f0d60"]]},{"id":"4cd2d9c2c523745b","type":"function","z":"20dd25b.60e48da","name":"type","func":"const data = msg.payload;\nmsg.payload ={}\nmsg.payload.type = \"homeassistant\";\nmsg.payload.subType = data;\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":320,"wires":[["11c11347f165f9b5"]]},{"id":"23af5220e2651cdd","type":"mqtt in","z":"20dd25b.60e48da","name":"homeassistant Geral","topic":"homeassistant/geral/#","qos":"1","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":110,"y":320,"wires":[["4cd2d9c2c523745b"]]},{"id":"82105863393f0d60","type":"debug","z":"20dd25b.60e48da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":300,"wires":[]},{"id":"d346a4c928a51bf0","type":"subflow:97561555.3ea248","z":"20dd25b.60e48da","name":"","env":[],"x":970,"y":520,"wires":[["c4ca53e4704cfec1"]]},{"id":"c4ca53e4704cfec1","type":"debug","z":"20dd25b.60e48da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":560,"wires":[]},{"id":"48c0344eda529213","type":"mqtt in","z":"20dd25b.60e48da","name":"homeassistant zigbee2mqtt","topic":"zigbee2mqtt/#","qos":"1","datatype":"auto","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":140,"y":460,"wires":[["2ae03cd576b003a6"]]},{"id":"c74d4752de05d102","type":"switch","z":"20dd25b.60e48da","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/Lamp kitchen/set","vt":"str"},{"t":"cont","v":"/Lamp Bedroom/set","vt":"str"},{"t":"cont","v":"/Lamp Living/set","vt":"str"},{"t":"cont","v":"","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":570,"y":520,"wires":[["9009b1fc4ff77b29"],["59febb8d0e0cccf2"],["fc839a6a602d99c6"],[]]},{"id":"1c55b6ed58e546c0","type":"function","z":"20dd25b.60e48da","name":"type","func":"msg.payload.type = \"zigbee2mqtt\";\nmsg.payload.subType = \"homeassistant\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":520,"wires":[["c74d4752de05d102"]]},{"id":"9009b1fc4ff77b29","type":"function","z":"20dd25b.60e48da","name":"lampkitchen","func":"msg.payload.lamp = \"lampkitchen\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":480,"wires":[["d346a4c928a51bf0"]]},{"id":"59febb8d0e0cccf2","type":"function","z":"20dd25b.60e48da","name":"lampBedroom","func":"msg.payload.lamp = \"lampBedroom\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":520,"wires":[["d346a4c928a51bf0"]]},{"id":"fc839a6a602d99c6","type":"function","z":"20dd25b.60e48da","name":"lampLiving","func":"msg.payload.lamp = \"lampLiving\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":560,"wires":[["d346a4c928a51bf0"]]},{"id":"2ae03cd576b003a6","type":"json","z":"20dd25b.60e48da","name":"","property":"payload","action":"obj","pretty":false,"x":70,"y":520,"wires":[["73de427ed8f068f6"]]},{"id":"73de427ed8f068f6","type":"function","z":"20dd25b.60e48da","name":"Payload Organize","func":"var a = msg.payload;\nvar b = !msg.payload.linkquality;\n\n\nif(msg.payload.linkquality == null && msg.payload.level == null && msg.payload.subType == null)\n{\nreturn[msg];\n}\n\nreturn[null];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":520,"wires":[["1c55b6ed58e546c0"]]},{"id":"c786b38d.959c2","type":"switch","z":"b940d21c.1fff3","name":"action","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"toggle_hold","vt":"str"},{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"},{"t":"eq","v":"brightness_up_hold","vt":"str"},{"t":"eq","v":"brightness_down_hold","vt":"str"},{"t":"eq","v":"brightness_up_release","vt":"str"},{"t":"eq","v":"brightness_down_release","vt":"str"}],"checkall":"false","repair":false,"outputs":10,"x":310,"y":860,"wires":[["7a5b9d8f.6cf8d4"],["e6af827.9be108"],["348b3caf.4ad9c4"],["348b3caf.4ad9c4"],["16b3fa64.eb9956"],["16b3fa64.eb9956"],["9f44e26f.81fd1","e1f98b84.ebaba8"],["9f44e26f.81fd1","fef08c2f.c4f95"],["b8679e0a.0a6e"],["b8679e0a.0a6e"]]},{"id":"da10d307.eded8","type":"mqtt in","z":"b940d21c.1fff3","name":"IKEA Light","topic":"zigbee2mqtt/Lamp Bedroom","qos":"2","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":140,"y":180,"wires":[["8a13f8be.ca9058"]]},{"id":"4ac241f7.278ac","type":"debug","z":"b940d21c.1fff3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":180,"wires":[]},{"id":"394c130c.943f4c","type":"mqtt out","z":"b940d21c.1fff3","name":"Lamp Bedroom Status","topic":"zigbee2mqtt/Lamp Bedroom/get","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":320,"y":140,"wires":[]},{"id":"e79a3c52.ae408","type":"inject","z":"b940d21c.1fff3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":\"\"}","payloadType":"json","x":140,"y":140,"wires":[["394c130c.943f4c"]]},{"id":"e6af827.9be108","type":"function","z":"b940d21c.1fff3","name":"Toggle","func":"var state;\nvar lamp = flow.get(\"lamp\");\n\n\nstate = flow.get(lamp+\"State\");\n\n\nif(state==\"OFF\"){\n    state = \"ON\"\n    \n}\nelse{\n    state = \"OFF\"\n    \n}\n\nflow.set(lamp+\"State\", state);\n\n\nmsg.payload.lamp = lamp;\nmsg.payload.state = state;\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":620,"wires":[["43300111.b5daa"]]},{"id":"8a13f8be.ca9058","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":290,"y":180,"wires":[["523a3a9a.7d63f4"]]},{"id":"523a3a9a.7d63f4","type":"function","z":"b940d21c.1fff3","name":"Update","func":"var lamp=\"lampBedroom\";\nflow.set(lamp+\"Brightness\", msg.payload.brightness);\nflow.set(lamp+\"State\", msg.payload.state);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["4ac241f7.278ac"]]},{"id":"79841cb4.d328e4","type":"inject","z":"b940d21c.1fff3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":60,"wires":[["c5ad66b8.e13328"]]},{"id":"c5ad66b8.e13328","type":"subflow:67f9a36c.f4a1fc","z":"b940d21c.1fff3","name":"","env":[{"name":"Step","value":"15","type":"num"}],"x":320,"y":60,"wires":[["865a0e53.ef584"]]},{"id":"865a0e53.ef584","type":"debug","z":"b940d21c.1fff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":60,"wires":[]},{"id":"c10f24b5.2fcc78","type":"mqtt in","z":"b940d21c.1fff3","name":"IKEA Button","topic":"zigbee2mqtt/Controler","qos":"1","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":130,"y":820,"wires":[["c0fa40f4a7d0bab6"]]},{"id":"348b3caf.4ad9c4","type":"function","z":"b940d21c.1fff3","name":"changeLamp","func":"var lamp = flow.get(\"lamp\");\n\n\nif(lamp==\"lampBedroom\"){\nlamp = 0;\n}\nelse if(lamp==\"lampLiving\"){\nlamp = 1;\n}\nelse if(lamp==\"lampkitchen\"){\nlamp = 2;\n}\n\n\nif(msg.payload.action==\"arrow_left_click\"){\nlamp++;\n}\nelse if(msg.payload.action==\"arrow_right_click\"){\nlamp--;\n}\n\n\nif(lamp>2){\nlamp=0;\n}\nelse if(lamp<0){\nlamp=2;\n}\nelse if(lamp!==lamp){\nlamp=0;\n}\n\n\nif(lamp==0){\nlamp = \"lampBedroom\";\n}\nelse if(lamp==1){\nlamp = \"lampLiving\";\n}\nelse if(lamp==2){\nlamp = \"lampkitchen\";\n}\n\nflow.set(\"lamp\", lamp);\nflow.set(lamp+\"OldState\", flow.get(lamp+\"State\"));\n\n\n\n\n\nmsg.payload.lamp = lamp;\nmsg.payload.state = \"ON\";\nreturn [msg];\n\n\n\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar lampChosen = 0;","finalize":"","libs":[],"x":570,"y":680,"wires":[["29c19065.34ecc","43300111.b5daa"]]},{"id":"16b3fa64.eb9956","type":"function","z":"b940d21c.1fff3","name":"Change color","func":"var lamp = flow.get(\"lamp\");\nvar type;\nif(lamp == \"lampBedroom\"){\n    type = \"RGB\";\n}\nelse if(lamp == \"lampLiving\"){\n    type = \"NORMAL\";\n}\nelse if(lamp == \"lampkitchen\"){\n    type = \"NORMAL\";\n}\n\nvar color_Lamp = flow.get(lamp+\"Color\");\nvar x;\nvar y;\n\n\nif(msg.payload.action==\"brightness_up_click\"){\ncolor_Lamp++;\n}\nif(msg.payload.action==\"brightness_down_click\"){\ncolor_Lamp--;\n}\n\nif(type == \"RGB\"){\n    if(color_Lamp>6){\n    color_Lamp=0;\n    }\n    else if(color_Lamp<0){\n    color_Lamp=6;\n    }\n    else if(color_Lamp!==color_Lamp){\n    color_Lamp=0;\n    }\n    \n    \n    //cor de rosa\n    if(color_Lamp==0){\n    x=0.477;\n    y=0.196;\n    }\n    //azul\n    if(color_Lamp==1){\n    x=0.136;\n    y=0.04;\n    }\n    //verde\n    else if(color_Lamp==2){\n    x=0.172;\n    y=0.747;\n    }\n    //branco\n    else if(color_Lamp==3){\n    x=0.323;\n    y=0.323;\n    }\n    //Amarelo\n    else if(color_Lamp==4){\n    x=0.444;\n    y=0.517;\n    }\n    //Laranja\n    else if(color_Lamp==5){\n    x=0.612;\n    y=0.374;\n    }\n    //vermelho\n    else if(color_Lamp==6){\n    x=0.701;\n    y=0.299;\n    }\n    msg.payload.lamp = lamp;\n    msg.payload.state = \"ON\";\n    msg.payload.color = {\n            \"x\": x,\n            \"y\": y\n        };\n\n}\nelse if(type == \"NORMAL\"){\n    if(color_Lamp>2){\n    color_Lamp=0;\n    }\n    else if(color_Lamp<0){\n    color_Lamp=2;\n    }\n    else if(color_Lamp!==color_Lamp){\n    color_Lamp=0;\n    }\n    \n    //cool\n    if(color_Lamp==0){\n    x=250;\n    }\n    //neutral\n    if(color_Lamp==1){\n    x=370;\n    }\n    //warm\n    else if(color_Lamp==2){\n    x=474;\n    }\n    msg.payload.lamp = lamp;\n    msg.payload.state = \"ON\";\n    msg.payload.color_temp = x;\n}\n\n\n\n\n\nflow.set(lamp+\"Color\", color_Lamp);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":880,"wires":[["43300111.b5daa"]]},{"id":"e1f98b84.ebaba8","type":"function","z":"b940d21c.1fff3","name":"Brightness up","func":"var lamp = flow.get(\"lamp\");\n\n\nvar step = flow.get(\"Step\");\nvar brightness =  flow.get(lamp+\"Brightness\");\n\nif(brightness >= 0){\n    brightness = brightness + step;\n\t}\nelse if(brightness >= 254){\n    brightness = 254;\n    }\n\nflow.set(lamp+\"Brightness\", brightness);\n\n\nmsg.payload.lamp = lamp;\nmsg.payload.state = \"ON\";\nmsg.payload.brightness = brightness;\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1020,"wires":[["5a91ae00.597264"]]},{"id":"fef08c2f.c4f95","type":"function","z":"b940d21c.1fff3","name":"Brightness down","func":"var lamp = flow.get(\"lamp\");\n\nvar step = flow.get(\"Step\");\nvar brightness =  flow.get(lamp+\"Brightness\");\n\nif(brightness <= 254){\n    brightness = brightness - step;\n}\nelse if(brightness <= 0){\n    brightness = 0;\n}\n\nflow.set(lamp+\"Brightness\", brightness);\n\n\nmsg.payload.lamp = lamp;\nmsg.payload.state = \"ON\";\nmsg.payload.brightness = brightness;\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1080,"wires":[["c3e353b5.93054"]]},{"id":"e6927bf3.505548","type":"switch","z":"b940d21c.1fff3","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":1080,"wires":[["fef08c2f.c4f95","43300111.b5daa"]]},{"id":"43d986b8.332138","type":"switch","z":"b940d21c.1fff3","name":"Control loop","property":"press","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":1020,"wires":[["e1f98b84.ebaba8","43300111.b5daa"]]},{"id":"5a91ae00.597264","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":750,"y":1020,"wires":[["43d986b8.332138"]]},{"id":"c3e353b5.93054","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":750,"y":1080,"wires":[["e6927bf3.505548"]]},{"id":"9f44e26f.81fd1","type":"change","z":"b940d21c.1fff3","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":940,"wires":[["1712a061.4c8cd"]]},{"id":"b8679e0a.0a6e","type":"change","z":"b940d21c.1fff3","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":980,"wires":[["1712a061.4c8cd"]]},{"id":"1712a061.4c8cd","type":"change","z":"b940d21c.1fff3","name":"Control the loop","rules":[{"t":"set","p":"press","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":960,"wires":[[]]},{"id":"1e4ffbb6.efab44","type":"mqtt in","z":"b940d21c.1fff3","name":"IKEA Light","topic":"zigbee2mqtt/Lamp Living","qos":"2","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":140,"y":280,"wires":[["7ed7eba7.6468a4"]]},{"id":"b3e9e6a0.c9ccb8","type":"debug","z":"b940d21c.1fff3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"7ed7eba7.6468a4","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":290,"y":280,"wires":[["f9f48c69.9bdb4"]]},{"id":"f9f48c69.9bdb4","type":"function","z":"b940d21c.1fff3","name":"Update","func":"var lamp=\"lampLiving\";\nflow.set(lamp+\"Brightness\", msg.payload.brightness);\nflow.set(lamp+\"State\", msg.payload.state);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["b3e9e6a0.c9ccb8"]]},{"id":"d1f5f98c.ec9938","type":"mqtt out","z":"b940d21c.1fff3","name":"Lamp Living Status","topic":"zigbee2mqtt/Lamp Living/get","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":310,"y":240,"wires":[]},{"id":"531f2421.69c60c","type":"inject","z":"b940d21c.1fff3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":\"\"}","payloadType":"json","x":140,"y":240,"wires":[["d1f5f98c.ec9938"]]},{"id":"fd77168f.d01348","type":"inject","z":"b940d21c.1fff3","name":"","props":[{"p":"payload","v":"{\"state\":\"\"}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":\"\"}","payloadType":"json","x":140,"y":740,"wires":[["9b06ae7d.8d313"]]},{"id":"9b06ae7d.8d313","type":"mqtt out","z":"b940d21c.1fff3","name":"Controler Status","topic":"zigbee2mqtt/Controler","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":300,"y":740,"wires":[]},{"id":"1c4c5e84.f42b51","type":"function","z":"b940d21c.1fff3","name":"Update","func":"msg.payload = {\n        \"lamp\":\"lampLiving\",\n        \"effect\":\"blink\"\n    };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":60,"wires":[["106205c6.29351a"]]},{"id":"106205c6.29351a","type":"debug","z":"b940d21c.1fff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":60,"wires":[]},{"id":"9ef07926.1d5868","type":"inject","z":"b940d21c.1fff3","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":730,"y":60,"wires":[["1c4c5e84.f42b51"]]},{"id":"1f16943e.7a85cc","type":"mqtt in","z":"b940d21c.1fff3","name":"IKEA Light","topic":"zigbee2mqtt/Lamp kitchen","qos":"2","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":140,"y":380,"wires":[["2919baa8.8a4656"]]},{"id":"65d6a3ee.f8ab2c","type":"debug","z":"b940d21c.1fff3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":380,"wires":[]},{"id":"2919baa8.8a4656","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":290,"y":380,"wires":[["8235719e.7268"]]},{"id":"8235719e.7268","type":"function","z":"b940d21c.1fff3","name":"Update","func":"var lamp=\"lampkitchen\";\nflow.set(lamp+\"Brightness\", msg.payload.brightness);\nflow.set(lamp+\"State\", msg.payload.state);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["65d6a3ee.f8ab2c"]]},{"id":"3e6fed2b.487752","type":"mqtt out","z":"b940d21c.1fff3","name":"Lamp kitchen Status","topic":"zigbee2mqtt/Lamp kitchen/get","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"47feb3e4.56f11c","x":320,"y":340,"wires":[]},{"id":"1ace674e.0e7d49","type":"inject","z":"b940d21c.1fff3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"state\":\"\"}","payloadType":"json","x":140,"y":340,"wires":[["3e6fed2b.487752"]]},{"id":"43300111.b5daa","type":"subflow:b570ad91.2fbcb","z":"b940d21c.1fff3","name":"","env":[],"x":1130,"y":860,"wires":[["176495f4b6854813"]]},{"id":"2866cdc7.328b22","type":"debug","z":"b940d21c.1fff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":980,"wires":[]},{"id":"7f76e828.d9c348","type":"delay","z":"b940d21c.1fff3","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":570,"y":760,"wires":[["a5749ac2.6562b8"]]},{"id":"29c19065.34ecc","type":"function","z":"b940d21c.1fff3","name":"changeLamp","func":"var lamp = flow.get(\"lamp\");\n\nmsg.payload.lamp = lamp;\nmsg.payload.effect = \"blink\";\nreturn [msg];","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar lampChosen = 0;","finalize":"","libs":[],"x":570,"y":720,"wires":[["7f76e828.d9c348","43300111.b5daa"]]},{"id":"a5749ac2.6562b8","type":"function","z":"b940d21c.1fff3","name":"changeLamp","func":"var lamp = flow.get(\"lamp\");\nvar state = flow.get(lamp+\"OldState\");\n\nflow.set(lamp+\"State\", state);\n\nmsg.payload.lamp = lamp;\nmsg.payload.state = state;\nreturn [msg];\n","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nvar lampChosen = 0;","finalize":"","libs":[],"x":570,"y":800,"wires":[["43300111.b5daa"]]},{"id":"7a5b9d8f.6cf8d4","type":"function","z":"b940d21c.1fff3","name":"toggle hold","func":"msg.payload.lamp = \"lampAll\";\nmsg.payload.state = \"OFF\";\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":580,"wires":[["43300111.b5daa"]]},{"id":"fbcde427db72fc68","type":"mqtt in","z":"b940d21c.1fff3","name":"sala_illuminance","topic":"sala/sensor/sala_illuminance/state","qos":"2","datatype":"json","broker":"47feb3e4.56f11c","nl":false,"rap":false,"inputs":0,"x":100,"y":1300,"wires":[["fddd795d961d788e"]]},{"id":"bd59720cea2f565f","type":"range","z":"b940d21c.1fff3","minin":"0","maxin":"0.4","minout":"254","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":280,"y":1300,"wires":[["7977df89ce375ddb"]]},{"id":"975a91fe25190bf5","type":"function","z":"b940d21c.1fff3","name":"Brightness down","func":"var lamp = flow.get(\"lamp\");\nlamp = \"lampLiving\";\n\n\nvar LastBrightness =  flow.get(lamp+\"Brightness\");\nvar sensorBrightness = msg.payload;\nvar brightness;\n\n\n\n\n\n\nif(sensorBrightness <= 0){\nsensorBrightness = 0;\n}\nelse if(sensorBrightness >= 254){\nsensorBrightness = 254;\n}\n\n\n\n\n\n\nvar Precent_4 = sensorBrightness + (sensorBrightness * 0.30);\nvar Precent_3 = sensorBrightness + (sensorBrightness * 0.10);\nvar Precent_2 = sensorBrightness - (sensorBrightness * 0.10);\nvar Precent_1 = sensorBrightness - (sensorBrightness * 0.30);\n\nvar a;\n\nif(LastBrightness <= Precent_2 || LastBrightness >= Precent_3)\n{\n\nif(sensorBrightness <= 0){\nbrightness = 0;\n}\nelse if(sensorBrightness >= 254){\nbrightness = 254;\n}\nelse if(LastBrightness > Precent_1 && LastBrightness < Precent_2)\n{\nbrightness = LastBrightness + 1;\na = \"+1\";\n}\nelse if(LastBrightness < Precent_4 && LastBrightness > Precent_3)\n{\nbrightness = LastBrightness - 1;\na = \"-1\";\n}\nelse if(LastBrightness >= Precent_3)\n{\nbrightness = LastBrightness - 10;\na = \"-10\";\n}\nelse if(LastBrightness <= Precent_2)\n{\nbrightness = LastBrightness + 10;\na = \"+10\";\n}\n\nif(brightness <= 0){\nbrightness = 0;\n}\nelse if(brightness >= 254){\nbrightness = 254;\n}\n\n\nmsg.payload = {\n    \"state\":\"ON\",\n    \"brightness\":brightness,\n    \"lamp\":lamp,\n    \"sensorBrightness\":sensorBrightness,\n    \"LastBrightness\":LastBrightness,\n    \"Precent_1\":Precent_1,\n    \"Precent_2\":Precent_2,\n    \"Precent_3\":Precent_3,\n    \"Precent_4\":Precent_4,\n    \"a\":a\n    \n};\n\nflow.set(lamp+\"Brightness\", brightness);\n\n\n}\nelse\n{\n msg.payload = {\n    \"brightness\":brightness,\n    \"sensorBrightness\":sensorBrightness,\n    \"LastBrightness\":LastBrightness,\n    \"Precent_1\":Precent_1,\n    \"Precent_2\":Precent_2,\n    \"Precent_3\":Precent_3,\n    \"Precent_4\":Precent_4,\n    \n};   \n    \n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1300,"wires":[[]]},{"id":"fddd795d961d788e","type":"debug","z":"b940d21c.1fff3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":1360,"wires":[]},{"id":"7977df89ce375ddb","type":"switch","z":"b940d21c.1fff3","name":"if  LDR Sensor","property":"ldrSensor","propertyType":"global","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1300,"wires":[["2453152238d8187d","c1295a8e63b4ae98"]]},{"id":"2453152238d8187d","type":"function","z":"b940d21c.1fff3","name":"state lamp","func":"var lamp = flow.get(\"contLamp\");\n\n\n\nif(lamp==\"lampBedroom\"){\nlamp = \"lampLiving\";\n}\nelse if(lamp==\"lampLiving\"){\nlamp = \"lampkitchen\";\n}\nelse if(lamp==\"lampkitchen\"){\nlamp = \"lampBedroom\";\n}\n\nflow.set(\"contLamp\", lamp);\n\n\n\nvar state = flow.get(lamp+\"State\");\n\nif(state==\"ON\"){\nmsg.payload = {\n        \"payload\": msg.payload,\n        \"lamp\": lamp\n    };\n    return msg;\n}\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1300,"wires":[["975a91fe25190bf5","c1295a8e63b4ae98"]]},{"id":"c1295a8e63b4ae98","type":"debug","z":"b940d21c.1fff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1420,"wires":[]},{"id":"176495f4b6854813","type":"subflow:97561555.3ea248","z":"b940d21c.1fff3","name":"","env":[],"x":1150,"y":920,"wires":[["2866cdc7.328b22"]]},{"id":"ab326190840d3b89","type":"http request","z":"b940d21c.1fff3","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":1220,"wires":[["42955fe9f0c74984"]]},{"id":"42955fe9f0c74984","type":"http response","z":"b940d21c.1fff3","name":"","statusCode":"","headers":{},"x":470,"y":1220,"wires":[]},{"id":"55bc8e03a7e36f8c","type":"function","z":"b940d21c.1fff3","name":"Whatsapp notification","func":"var key = \"128764\";\nvar phone = \"+351934272501\";\nvar url = \"https://api.callmebot.com/whatsapp.php?\";\n\n\nvar text = msg.payload;\n\nmsg.url = url + \"phone=\" + phone + \"&text=\" + text + \"&apikey=\" + key;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":1220,"wires":[["ab326190840d3b89"]]},{"id":"c0fa40f4a7d0bab6","type":"function","z":"b940d21c.1fff3","name":"type","func":"msg.payload.type = \"zigbee2mqtt\";\nmsg.payload.subType = \"IKA Button\";\n\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":900,"wires":[["c786b38d.959c2"]]}]